In [1]:
!pip install --upgrade numpy==2.1.0
!pip install --upgrade pandas==2.2.2

Requirement already satisfied: numpy==2.1.0 in c:\python312\lib\site-packages (2.1.0)
Requirement already satisfied: pandas==2.2.2 in c:\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\python312\lib\site-packages (from pandas==2.2.2) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python312\lib\site-packages (from pandas==2.2.2) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas==2.2.2) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas==2.2.2) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.2.2) (1.16.0)

In [2]:
!pip install --upgrade matplotlib

Requirement already satisfied: matplotlib in c:\python312\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\python312\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\python312\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\python312\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\python312\lib\site-packages (from matplotlib) (2.1.0)
Requirement already satisfied: packaging>=20.0 in c:\python312\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\python312\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python312\lib\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\python312\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [3]:
!pip install --upgrade scipy

Requirement already satisfied: scipy in c:\python312\lib\site-packages (1.14.1)
Requirement already satisfied: numpy<2.3,>=1.23.5 in c:\python312\lib\site-packages (from scipy) (2.1.0)

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("Denton Accidents.csv",  skiprows=12)
df.head()

,Crash ID,$1000 Damage to Any One Person's Property,Adjusted Average Daily Traffic Amount,City,Crash Date,Crash Severity,Crash Time,Date Scene Cleared,Manner of Collision,Road Class,Roadway Type,Speed Limit,Surface Condition,Time Scene Cleared,Weather Condition
0,19468595,Yes,83664,DENTON,2023-04-01,N - NOT INJURED,1559,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1559,1 - CLEAR
1,19474485,Yes,70137,DENTON,2023-04-01,N - NOT INJURED,1544,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",70,1 - DRY,1640,1 - CLEAR
2,19474684,Yes,No Data,DENTON,2023-04-01,N - NOT INJURED,1930,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,30,1 - DRY,2055,1 - CLEAR
3,19476604,Yes,27522,DENTON,2023-04-01,N - NOT INJURED,948,2023-04-01,ANGLE - ONE STRAIGHT-ONE RIGHT TURN,US & STATE HIGHWAYS,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1026,1 - CLEAR
4,19476605,Yes,No Data,DENTON,2023-04-01,C - POSSIBLE INJURY,1246,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,40,1 - DRY,1305,1 - CLEAR

In [6]:
df.tail()

,Crash ID,$1000 Damage to Any One Person's Property,Adjusted Average Daily Traffic Amount,City,Crash Date,Crash Severity,Crash Time,Date Scene Cleared,Manner of Collision,Road Class,Roadway Type,Speed Limit,Surface Condition,Time Scene Cleared,Weather Condition
3603,20318138,Yes,84501,DENTON,2024-07-30,N - NOT INJURED,1630,2024-07-30,SAME DIRECTION - BOTH GOING STRAIGHT-REAR END,INTERSTATE,"4 OR MORE LANES, DIVIDED",70,1 - DRY,1830,1 - CLEAR
3604,20323026,Yes,No Data,DENTON,2024-07-30,N - NOT INJURED,1254,2024-07-30,ANGLE - ONE RIGHT TURN-ONE LEFT TURN,CITY STREET,No Data,30,1 - DRY,1349,1 - CLEAR
3605,20313710,Yes,14763,DENTON,2024-07-31,N - NOT INJURED,1205,2024-07-31,SAME DIRECTION - ONE STRAIGHT-ONE STOPPED,CITY STREET,"4 OR MORE LANES, UNDIVIDED",30,1 - DRY,1205,1 - CLEAR
3606,20313725,Yes,No Data,DENTON,2024-07-31,N - NOT INJURED,1633,2024-07-31,ANGLE - ONE STRAIGHT-ONE LEFT TURN,CITY STREET,No Data,30,1 - DRY,1700,1 - CLEAR
3607,20316856,Yes,84501,DENTON,2024-07-31,N - NOT INJURED,1745,2024-07-31,ONE MOTOR VEHICLE - GOING STRAIGHT,INTERSTATE,"4 OR MORE LANES, DIVIDED",30,1 - DRY,1827,1 - CLEAR

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3608 entries, 0 to 3607
Data columns (total 15 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Crash ID                                   3608 non-null   int64
 1   $1000 Damage to Any One Person's Property  3608 non-null   object
 2   Adjusted Average Daily Traffic Amount      3608 non-null   object
 3   City                                       3608 non-null   object
 4   Crash Date                                 3608 non-null   object
 5   Crash Severity                             3608 non-null   object
 6   Crash Time                                 3608 non-null   int64
 7   Date Scene Cleared                         3608 non-null   object
 8   Manner of Collision                        3608 non-null   object
 9   Road Class                                 3608 non-null   object
 10  Roadway Type                               3608 non-null   object
 11  Speed Limit                                3608 non-null   int64
 12  Surface Condition                          3608 non-null   object
 13  Time Scene Cleared                         3608 non-null   int64
 14  Weather Condition                          3608 non-null   object
dtypes: int64(4), object(11)
memory usage: 422.9+ KB

In [8]:
df.describe()

           Crash ID   Crash Time  Speed Limit  Time Scene Cleared
count  3.608000e+03  3608.000000  3608.000000         3608.000000
mean   1.988672e+07  1363.786031    43.718681         1420.761086
std    2.420144e+05   527.677247    17.809324          539.006213
min    1.946860e+07     0.000000    -1.000000            3.000000
25%    1.968752e+07  1018.750000    30.000000         1056.000000
50%    1.987500e+07  1435.000000    45.000000         1511.000000
75%    2.009872e+07  1730.000000    55.000000         1817.000000
max    2.032641e+07  2359.000000    75.000000         2359.000000

``` LAB 1 ```

# QUESTION 1
What is the shape of this data frame?

In [9]:
# Shape of the data frame
shape = df.shape

# Output
print(f"Shape of the data frame is:{shape}")

Shape of the data frame is:(3608, 15)

----

# QUESTION 2
How many missing values in the form of np.nan exist in this dataframe?

In [10]:
# Missing values in np.nan form
df.isna()

,Crash ID,$1000 Damage to Any One Person's Property,Adjusted Average Daily Traffic Amount,City,Crash Date,Crash Severity,Crash Time,Date Scene Cleared,Manner of Collision,Road Class,Roadway Type,Speed Limit,Surface Condition,Time Scene Cleared,Weather Condition
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3603,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3604,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3605,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3606,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3607,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
# Sum of missing values in np.nan form
df.isna().sum()

Crash ID                                     0
$1000 Damage to Any One Person's Property    0
Adjusted Average Daily Traffic Amount        0
City                                         0
Crash Date                                   0
Crash Severity                               0
Crash Time                                   0
Date Scene Cleared                           0
Manner of Collision                          0
Road Class                                   0
Roadway Type                                 0
Speed Limit                                  0
Surface Condition                            0
Time Scene Cleared                           0
Weather Condition                            0
dtype: int64

----

# QUESTION 3
How many unique values are in the Crash ID column? Make this column the index of the data frame.

In [12]:
df["Crash ID"] = df["Crash ID"].unique()
df["Crash ID"]

0       19468595
1       19474485
2       19474684
3       19476604
4       19476605
          ...
3603    20318138
3604    20323026
3605    20313710
3606    20313725
3607    20316856
Name: Crash ID, Length: 3608, dtype: int64

In [13]:
df["Crash ID"].value_counts()

Crash ID
20316856    1
19468595    1
19474485    1
19474684    1
19476604    1
           ..
19479014    1
19479013    1
19477499    1
19477450    1
19487709    1
Name: count, Length: 3608, dtype: int64

In [14]:
df.set_index("Crash ID", inplace = True)
df.head()

,$1000 Damage to Any One Person's Property,Adjusted Average Daily Traffic Amount,City,Crash Date,Crash Severity,Crash Time,Date Scene Cleared,Manner of Collision,Road Class,Roadway Type,Speed Limit,Surface Condition,Time Scene Cleared,Weather Condition
Crash ID,,,,,,,,,,,,,,
19468595,Yes,83664,DENTON,2023-04-01,N - NOT INJURED,1559,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1559,1 - CLEAR
19474485,Yes,70137,DENTON,2023-04-01,N - NOT INJURED,1544,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",70,1 - DRY,1640,1 - CLEAR
19474684,Yes,No Data,DENTON,2023-04-01,N - NOT INJURED,1930,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,30,1 - DRY,2055,1 - CLEAR
19476604,Yes,27522,DENTON,2023-04-01,N - NOT INJURED,948,2023-04-01,ANGLE - ONE STRAIGHT-ONE RIGHT TURN,US & STATE HIGHWAYS,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1026,1 - CLEAR
19476605,Yes,No Data,DENTON,2023-04-01,C - POSSIBLE INJURY,1246,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,40,1 - DRY,1305,1 - CLEAR

In [15]:
# How many unique values are in the Crash ID column? Make this column the index of the data frame.
df.index

Index([19468595, 19474485, 19474684, 19476604, 19476605, 19477352, 19479006,
       19483031, 19487709, 19477450,
       ...
       20312265, 20313642, 20313678, 20315847, 20315894, 20318138, 20323026,
       20313710, 20313725, 20316856],
      dtype='int64', name='Crash ID', length=3608)

-----

# QUESTION 4
The objective of the four labs you are completing for this course is to determine the time it takes to clear the scene after each accident in the city of Denton. There are four columns that collect data and time-related information, including the time of the accident and the time when the scene was cleared. The first step involves combining the “Date” and “Time” columns into a single column in order to compute the duration it will take to clear the scene. The difference between “Time Scene Cleared” and ” Accident Time” in minutes in the “Clearance Time (Minutes)”. Note that to correctly compute the “Clearance Time (Minutes)” you should consider both data and time columns. After completing this tasks, enter the average “Clearance Time (Minutes)” for all the accidents in this data frame. Enter the answer with two digits after the decimal point.

In [16]:
# Coverting date and time format to datetime format
df["Crash_date_time"] = pd.to_datetime(df["Crash Date"] + " " + df["Crash Time"].astype(str).str.zfill(4), format = "%Y-%m-%d %H%M")
df["Scene Cleared DateTime"] = pd.to_datetime(df["Date Scene Cleared"] + " " + df["Time Scene Cleared"].astype(str).str.zfill(4), format = "%Y-%m-%d %H%M") 

# Calculate clearance time in minutes
df["Clearance_time_minutes"] = (df["Scene Cleared DateTime"] - df["Crash_date_time"]).dt.total_seconds() / 60

# Calculate average clearance time

avg_clearance_time = df["Clearance_time_minutes"] .mean()

# output

print(f"Average Clearance Time in Minutes : {avg_clearance_time:.2f}")

Average Clearance Time in Minutes : 136.90

----

# Question 5
What would be an appropriate preprocessing approach for the content of the column “$1000 Damage to Any One Person’s Property”. Apply it to the data frame.

In [17]:
# Using: Map “Yes” to 1 and “No” to 0 and applying to the data frame

df["$1000 Damage to Any One Person's Property"] = df["$1000 Damage to Any One Person's Property"].apply(lambda val: 1 if val == "Yes" else 0)
df["$1000 Damage to Any One Person's Property"]

Crash ID
19468595    1
19474485    1
19474684    1
19476604    1
19476605    1
           ..
20318138    1
20323026    1
20313710    1
20313725    1
20316856    1
Name: $1000 Damage to Any One Person's Property, Length: 3608, dtype: int64

In [18]:
df.head()

,$1000 Damage to Any One Person's Property,Adjusted Average Daily Traffic Amount,City,Crash Date,Crash Severity,Crash Time,Date Scene Cleared,Manner of Collision,Road Class,Roadway Type,Speed Limit,Surface Condition,Time Scene Cleared,Weather Condition,Crash_date_time,Scene Cleared DateTime,Clearance_time_minutes
Crash ID,,,,,,,,,,,,,,,,,
19468595,1,83664,DENTON,2023-04-01,N - NOT INJURED,1559,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1559,1 - CLEAR,2023-04-01 15:59:00,2023-04-01 15:59:00,0.0
19474485,1,70137,DENTON,2023-04-01,N - NOT INJURED,1544,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",70,1 - DRY,1640,1 - CLEAR,2023-04-01 15:44:00,2023-04-01 16:40:00,56.0
19474684,1,No Data,DENTON,2023-04-01,N - NOT INJURED,1930,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,30,1 - DRY,2055,1 - CLEAR,2023-04-01 19:30:00,2023-04-01 20:55:00,85.0
19476604,1,27522,DENTON,2023-04-01,N - NOT INJURED,948,2023-04-01,ANGLE - ONE STRAIGHT-ONE RIGHT TURN,US & STATE HIGHWAYS,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1026,1 - CLEAR,2023-04-01 09:48:00,2023-04-01 10:26:00,38.0
19476605,1,No Data,DENTON,2023-04-01,C - POSSIBLE INJURY,1246,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,40,1 - DRY,1305,1 - CLEAR,2023-04-01 12:46:00,2023-04-01 13:05:00,19.0

-----

# Question 6

Select all the forms of missing values under the column “Adjusted Average Daily Traffic Amount”. Replace all the sentinel missing values with np.nan and change data type of the column to float.

In [19]:
df["Adjusted Average Daily Traffic Amount"]

Crash ID
19468595      83664
19474485      70137
19474684    No Data
19476604      27522
19476605    No Data
             ...
20318138      84501
20323026    No Data
20313710      14763
20313725    No Data
20316856      84501
Name: Adjusted Average Daily Traffic Amount, Length: 3608, dtype: object

In [20]:
# Replacing all the sentinel missing values with np.nan and change data type of the column to float.
missing_values = ["No Data"]
df["Adjusted Average Daily Traffic Amount"] = df["Adjusted Average Daily Traffic Amount"].replace(missing_values, np.nan).astype(float)
df["Adjusted Average Daily Traffic Amount"]

Crash ID
19468595    83664.0
19474485    70137.0
19474684        NaN
19476604    27522.0
19476605        NaN
             ...
20318138    84501.0
20323026        NaN
20313710    14763.0
20313725        NaN
20316856    84501.0
Name: Adjusted Average Daily Traffic Amount, Length: 3608, dtype: float64

In [21]:
df.head()

,$1000 Damage to Any One Person's Property,Adjusted Average Daily Traffic Amount,City,Crash Date,Crash Severity,Crash Time,Date Scene Cleared,Manner of Collision,Road Class,Roadway Type,Speed Limit,Surface Condition,Time Scene Cleared,Weather Condition,Crash_date_time,Scene Cleared DateTime,Clearance_time_minutes
Crash ID,,,,,,,,,,,,,,,,,
19468595,1,83664.0,DENTON,2023-04-01,N - NOT INJURED,1559,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1559,1 - CLEAR,2023-04-01 15:59:00,2023-04-01 15:59:00,0.0
19474485,1,70137.0,DENTON,2023-04-01,N - NOT INJURED,1544,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",70,1 - DRY,1640,1 - CLEAR,2023-04-01 15:44:00,2023-04-01 16:40:00,56.0
19474684,1,NaN,DENTON,2023-04-01,N - NOT INJURED,1930,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,30,1 - DRY,2055,1 - CLEAR,2023-04-01 19:30:00,2023-04-01 20:55:00,85.0
19476604,1,27522.0,DENTON,2023-04-01,N - NOT INJURED,948,2023-04-01,ANGLE - ONE STRAIGHT-ONE RIGHT TURN,US & STATE HIGHWAYS,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1026,1 - CLEAR,2023-04-01 09:48:00,2023-04-01 10:26:00,38.0
19476605,1,NaN,DENTON,2023-04-01,C - POSSIBLE INJURY,1246,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,40,1 - DRY,1305,1 - CLEAR,2023-04-01 12:46:00,2023-04-01 13:05:00,19.0

-----

# Question 7
In order to fill in the missing values in the “Adjusted Average Daily Traffic Amount” column, we will calculate the median value for all available entries in the “Adjusted Average Daily Traffic Amount” for each “Road Class.” We will then use this median value to replace any instances of NaN in the “Adjusted Average Daily Traffic Amount” column. Although this method will fill in most of the missing values, there may still be some rows with missing values remaining. Enter the number of instances with NaN values after this data imputation

In [22]:


a = df.groupby("Road Class")["Adjusted Average Daily Traffic Amount"].median()
a

Road Class
CITY STREET            14489.0
COUNTY ROAD             8562.0
FARM TO MARKET          8562.0
INTERSTATE             83664.0
NON TRAFFICWAY             NaN
OTHER ROADS                NaN
US & STATE HIGHWAYS    25998.0
Name: Adjusted Average Daily Traffic Amount, dtype: float64

In [23]:
# Calculating median values for all available entries in "Adjusted Average Daily Traffic Amount” column
roadclass_median = df.groupby("Road Class")["Adjusted Average Daily Traffic Amount"].median()
roadclass_median

# Filling with NaN values using median
df["Adjusted Average Daily Traffic Amount"] = df.apply(lambda val: roadclass_median[val["Road Class"]] 
if np.isnan(val["Adjusted Average Daily Traffic Amount"]) 
else val["Adjusted Average Daily Traffic Amount"], axis=1)

# Counting the remaining NaN values
nan_count = df['Adjusted Average Daily Traffic Amount'].isnull().sum()

# Output
print(f"Number of instances with NaN values after imputation: {nan_count}")
df.head()

Number of instances with NaN values after imputation: 255

,$1000 Damage to Any One Person's Property,Adjusted Average Daily Traffic Amount,City,Crash Date,Crash Severity,Crash Time,Date Scene Cleared,Manner of Collision,Road Class,Roadway Type,Speed Limit,Surface Condition,Time Scene Cleared,Weather Condition,Crash_date_time,Scene Cleared DateTime,Clearance_time_minutes
Crash ID,,,,,,,,,,,,,,,,,
19468595,1,83664.0,DENTON,2023-04-01,N - NOT INJURED,1559,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1559,1 - CLEAR,2023-04-01 15:59:00,2023-04-01 15:59:00,0.0
19474485,1,70137.0,DENTON,2023-04-01,N - NOT INJURED,1544,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",70,1 - DRY,1640,1 - CLEAR,2023-04-01 15:44:00,2023-04-01 16:40:00,56.0
19474684,1,14489.0,DENTON,2023-04-01,N - NOT INJURED,1930,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,30,1 - DRY,2055,1 - CLEAR,2023-04-01 19:30:00,2023-04-01 20:55:00,85.0
19476604,1,27522.0,DENTON,2023-04-01,N - NOT INJURED,948,2023-04-01,ANGLE - ONE STRAIGHT-ONE RIGHT TURN,US & STATE HIGHWAYS,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1026,1 - CLEAR,2023-04-01 09:48:00,2023-04-01 10:26:00,38.0
19476605,1,14489.0,DENTON,2023-04-01,C - POSSIBLE INJURY,1246,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,40,1 - DRY,1305,1 - CLEAR,2023-04-01 12:46:00,2023-04-01 13:05:00,19.0

-----

# Question 8
Upon reviewing the rows with missing values, it is evident that the majority of them pertain to the “NON TRAFFIC” road class. This suggests that these entries are either for private roadways or parking lots. Therefore, it is reasonable to replace the zero adjusted average daily traffic for these entries. As a result, the remaining missing values in the “Adjusted Average Daily Traffic Amount” column should be replaced with zero. After making these replacements, please compute and enter the mean of this column, rounding your answer to two decimal places.

In [24]:
# Computing the mean of Adjusted Average Daily Traffic Amount after filling missing values with zero

df["Adjusted Average Daily Traffic Amount"] = df["Adjusted Average Daily Traffic Amount"].fillna(0)
df["Adjusted Average Daily Traffic Amount"]

b = df[df["Road Class"] == "OTHER ROADS"]["Adjusted Average Daily Traffic Amount"]
c = df[df["Road Class"] == "NON TRAFFICWAY"]["Adjusted Average Daily Traffic Amount"]
d = df["Adjusted Average Daily Traffic Amount"].mean().round(2)

#output
print(f"The mean of Adjusted Average Daily Traffic Amount is {d}")

The mean of Adjusted Average Daily Traffic Amount is 36229.76

-----

# Question 9
Now, let's shift our focus to the "Road Class" column. This column contains some categories with very few instances in the dataset. Increasing the dimensionality of the data frame may not always be the best approach. When there are only a few instances of a category, it may not significantly contribute to learning the data pattern. In such cases, we typically make a judgment call to sacrifice some of these categories in favor of reducing the number of categories in that column. We plan to address the "Road Class" column by replacing all categories with fewer than 10 instances with "City STREET". Complete the table below with the frequency of each class after the above data manipulation. For those classes that have been mapped, the frequency becomes 0.

INTERSTATE: 

CITY STREET: 

US & STATE HIGHWAYS:

FARM TO MARKET:

NON TRAFFICWAY: 

OTHER ROADS: 

COUNTY ROAD:

In [25]:
frequency = df['Road Class'].value_counts()
frequency

Road Class
INTERSTATE             1189
CITY STREET            1018
US & STATE HIGHWAYS     861
FARM TO MARKET          284
NON TRAFFICWAY          254
OTHER ROADS               1
COUNTY ROAD               1
Name: count, dtype: int64

In [26]:
# Counting the frequency of each category
frequency = df['Road Class'].value_counts()

# Replace categories with fewer than 10 instances
low_frequency_classes = frequency[frequency < 10].index
df.loc[df['Road Class'].isin(low_frequency_classes), 'Road Class'] = 'CITY STREET'

# Counting the updated frequency
upd_frequency = df['Road Class'].value_counts()

# Print the updated frequency
print(upd_frequency)

Road Class
INTERSTATE             1189
CITY STREET            1020
US & STATE HIGHWAYS     861
FARM TO MARKET          284
NON TRAFFICWAY          254
Name: count, dtype: int64

------

# Question 10
What sentinel value is used to represent missing values under the column “Speed Limit”? Replace the sentinal value with np.nan.

In [27]:
# -1 is sentinel value used to represent missing values under the column “Speed Limit”

Speedlimit_missingvalues = [-1]

# Replacing the sentinal value with np.nan

df["Speed Limit"] = df["Speed Limit"].replace(Speedlimit_missingvalues, np.nan)
print(df["Speed Limit"])

# Cross checking only the np.nan values
e = df["Speed Limit"].isna().sum()
e

Crash ID
19468595    50.0
19474485    70.0
19474684    30.0
19476604    50.0
19476605    40.0
            ...
20318138    70.0
20323026    30.0
20313710    30.0
20313725    30.0
20316856    30.0
Name: Speed Limit, Length: 3608, dtype: float64

np.int64(143)

-----

# Question 11
Replace missing values in the “Speed Limit” column with the median speed limit for the corresponding “Road Class”, and then enter the mean of the “Speed Limit” column after the imputation. Enter the answer with two digits after the decimal point.

In [28]:
# Calculating median values for Speed Limit
speedlimit_median = df.groupby("Road Class")["Speed Limit"].median()
speedlimit_median

# Filling NaN values with median
df["Speed Limit"] = df.apply(lambda val: speedlimit_median[val["Road Class"]] 
if np.isnan(val["Speed Limit"]) 
else val["Speed Limit"], axis=1)

# Calculating mean
SpeedLimit_mean = df["Speed Limit"].mean()

# Output
print(f"The mean of the “Speed Limit” column after the imputation: {SpeedLimit_mean:.2f}")

The mean of the “Speed Limit” column after the imputation: 44.98

-----

# Question 12
What is the best method for transforming the data in the “Road Class” column? Apply this transformation to the data frame.

a.	Map to ordinal values according to the frequency of each road class.

b.	Replace it with a one-hot vector of length 7.

c.	Replace it with a one-hot vector of length 5.

d.	Map to ordinal values according to the importance of the road class.

In [29]:
# Replacing the 'Road Class' column with one-hot encoding
df = pd.get_dummies(df, columns=["Road Class"], prefix="Road Class")

# Checking the new DataFrame with one-hot encoded columns
print(df.head())

          $1000 Damage to Any One Person's Property  \
Crash ID
19468595                                          1
19474485                                          1
19474684                                          1
19476604                                          1
19476605                                          1

          Adjusted Average Daily Traffic Amount    City  Crash Date  \
Crash ID
19468595                                83664.0  DENTON  2023-04-01
19474485                                70137.0  DENTON  2023-04-01
19474684                                14489.0  DENTON  2023-04-01
19476604                                27522.0  DENTON  2023-04-01
19476605                                14489.0  DENTON  2023-04-01

               Crash Severity  Crash Time Date Scene Cleared  \
Crash ID
19468595      N - NOT INJURED        1559         2023-04-01
19474485      N - NOT INJURED        1544         2023-04-01
19474684      N - NOT INJURED        1930         2023-04-01
19476604      N - NOT INJURED         948         2023-04-01
19476605  C - POSSIBLE INJURY        1246         2023-04-01

                                     Manner of Collision  \
Crash ID
19468595  SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE
19474485  SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE
19474684              ONE MOTOR VEHICLE - GOING STRAIGHT
19476604             ANGLE - ONE STRAIGHT-ONE RIGHT TURN
19476605              ONE MOTOR VEHICLE - GOING STRAIGHT

                      Roadway Type  Speed Limit  ... Time Scene Cleared  \
Crash ID                                         ...
19468595  4 OR MORE LANES, DIVIDED         50.0  ...               1559
19474485  4 OR MORE LANES, DIVIDED         70.0  ...               1640
19474684                   No Data         30.0  ...               2055
19476604  4 OR MORE LANES, DIVIDED         50.0  ...               1026
19476605                   No Data         40.0  ...               1305

          Weather Condition     Crash_date_time Scene Cleared DateTime  \
Crash ID
19468595          1 - CLEAR 2023-04-01 15:59:00    2023-04-01 15:59:00
19474485          1 - CLEAR 2023-04-01 15:44:00    2023-04-01 16:40:00
19474684          1 - CLEAR 2023-04-01 19:30:00    2023-04-01 20:55:00
19476604          1 - CLEAR 2023-04-01 09:48:00    2023-04-01 10:26:00
19476605          1 - CLEAR 2023-04-01 12:46:00    2023-04-01 13:05:00

         Clearance_time_minutes  Road Class_CITY STREET  \
Crash ID
19468595                    0.0                   False
19474485                   56.0                   False
19474684                   85.0                    True
19476604                   38.0                   False
19476605                   19.0                    True

          Road Class_FARM TO MARKET  Road Class_INTERSTATE  \
Crash ID
19468595                      False                   True
19474485                      False                   True
19474684                      False                  False
19476604                      False                  False
19476605                      False                  False

          Road Class_NON TRAFFICWAY  Road Class_US & STATE HIGHWAYS
Crash ID
19468595                      False                           False
19474485                      False                           False
19474684                      False                           False
19476604                      False                            True
19476605                      False                           False

[5 rows x 21 columns]

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 21 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   $1000 Damage to Any One Person's Property  3608 non-null   int64
 1   Adjusted Average Daily Traffic Amount      3608 non-null   float64
 2   City                                       3608 non-null   object
 3   Crash Date                                 3608 non-null   object
 4   Crash Severity                             3608 non-null   object
 5   Crash Time                                 3608 non-null   int64
 6   Date Scene Cleared                         3608 non-null   object
 7   Manner of Collision                        3608 non-null   object
 8   Roadway Type                               3608 non-null   object
 9   Speed Limit                                3608 non-null   float64
 10  Surface Condition                          3608 non-null   object
 11  Time Scene Cleared                         3608 non-null   int64
 12  Weather Condition                          3608 non-null   object
 13  Crash_date_time                            3608 non-null   datetime64[ns]
 14  Scene Cleared DateTime                     3608 non-null   datetime64[ns]
 15  Clearance_time_minutes                     3608 non-null   float64
 16  Road Class_CITY STREET                     3608 non-null   bool
 17  Road Class_FARM TO MARKET                  3608 non-null   bool
 18  Road Class_INTERSTATE                      3608 non-null   bool
 19  Road Class_NON TRAFFICWAY                  3608 non-null   bool
 20  Road Class_US & STATE HIGHWAYS             3608 non-null   bool
dtypes: bool(5), datetime64[ns](2), float64(3), int64(3), object(8)
memory usage: 496.8+ KB

----

# Question 13
The next column with a significant number of missing values is "Roadway Type". We will explore an alternative method to address the missing values for this column. Instead of using the information from available values in this column to impute the missing values, we will create a new category called "OTHER" and replace all np.nan and "No Data" values with "OTHER". Please fill in the following table to demonstrate the frequency of each category in this column.

4 OR MORE LANES, DIVIDED: 

4 OR MORE LANES, UNDIVIDED:

2 LANE, 2 WAY:

OTHER:

In [31]:
# Replacing 'No Data' with np.nan
df.replace({"Roadway Type": { "No Data": np.nan }}, inplace=True)

# Replacing np.nan with "OTHER"
df.fillna({"Roadway Type":"OTHER"}, inplace=True)

# Checking the updated unique values in the "Roadway Type" column
print(df["Roadway Type"].value_counts())

Roadway Type
4 OR MORE LANES, DIVIDED      1776
OTHER                         1379
4 OR MORE LANES, UNDIVIDED     267
2 LANE, 2 WAY                  186
Name: count, dtype: int64

---

# Question 14
Choose and apply the proper data transformation on values in column “Roadway Type”.

a.	Replace it with a one-hot vector of length 4.

b.	Map values as follows: “4 OR MORE LANES, DIVIDED” to 2, “4 OR MORE LANES, UNDIVIDED” to 1, and “2 LANE, 2 WAY” to 0.

c.	Replace it with a one-hot vector of length 3.

d.	Map values as follows: “4 OR MORE LANES, DIVIDED” to 3, “4 OR MORE LANES, UNDIVIDED” to 1, “2 LANE, 2 WAY” to 1, and “OTHER” to 0.

In [32]:
# Replacing  with a one-hot vector of length 4
df = pd.get_dummies(df, columns=["Roadway Type"], prefix="Roadway Type")

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 24 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   $1000 Damage to Any One Person's Property  3608 non-null   int64
 1   Adjusted Average Daily Traffic Amount      3608 non-null   float64
 2   City                                       3608 non-null   object
 3   Crash Date                                 3608 non-null   object
 4   Crash Severity                             3608 non-null   object
 5   Crash Time                                 3608 non-null   int64
 6   Date Scene Cleared                         3608 non-null   object
 7   Manner of Collision                        3608 non-null   object
 8   Speed Limit                                3608 non-null   float64
 9   Surface Condition                          3608 non-null   object
 10  Time Scene Cleared                         3608 non-null   int64
 11  Weather Condition                          3608 non-null   object
 12  Crash_date_time                            3608 non-null   datetime64[ns]
 13  Scene Cleared DateTime                     3608 non-null   datetime64[ns]
 14  Clearance_time_minutes                     3608 non-null   float64
 15  Road Class_CITY STREET                     3608 non-null   bool
 16  Road Class_FARM TO MARKET                  3608 non-null   bool
 17  Road Class_INTERSTATE                      3608 non-null   bool
 18  Road Class_NON TRAFFICWAY                  3608 non-null   bool
 19  Road Class_US & STATE HIGHWAYS             3608 non-null   bool
 20  Roadway Type_2 LANE, 2 WAY                 3608 non-null   bool
 21  Roadway Type_4 OR MORE LANES, DIVIDED      3608 non-null   bool
 22  Roadway Type_4 OR MORE LANES, UNDIVIDED    3608 non-null   bool
 23  Roadway Type_OTHER                         3608 non-null   bool
dtypes: bool(9), datetime64[ns](2), float64(3), int64(3), object(7)
memory usage: 482.7+ KB

----

# Question 15
What would be an appropriate preprocessing approach for the column City. Apply it to the data frame.

a.	Replace it with a one-hot vector of length 2.

b.	Map “DENTON” to 1 and “OTHER” to 0.

c.	Replace it with a one-hot vector of length 1.

d.	Drop this column.

In [34]:
# Mapping “DENTON” to 1 and “OTHER” to 0.
df["City"] = df["City"].apply(lambda val: 1 if val == "DENTON" else 0)
df["City"]

Crash ID
19468595    1
19474485    1
19474684    1
19476604    1
19476605    1
           ..
20318138    1
20323026    1
20313710    1
20313725    1
20316856    1
Name: City, Length: 3608, dtype: int64

---

# Question 16
What is the proper data transformation for the column Crash Severity. Apply your choice to the data frame.
                                      
a.	Map: K - FATAL INJURY to 5, A - SUSPECTED SERIOUS INJURY to 4, C - POSSIBLE INJURY to 3, B - SUSPECTED MINOR INJURY to 2, 99 - UNKNOWN to 1, and N - NOT INJURED to 0.
    
b.	Map: N - NOT INJURED to 5, B - SUSPECTED MINOR INJURY to 4, C - POSSIBLE INJURY to 3, 99 - UNKNOWN to 2, A - SUSPECTED SERIOUS INJURY to 1, K - FATAL INJURY to 0.
    
c.	To avoid increasing dimensionality, map N - NOT INJURED to 1 and all other categories to 0.

In [35]:
# Transforming data using Map: K - FATAL INJURY to 5, A - SUSPECTED SERIOUS INJURY to 4, C - POSSIBLE INJURY to 3, B - SUSPECTED MINOR INJURY to 2, 99 - UNKNOWN to 1, and N - NOT INJURED to 0.
mapping_severity = {
    "K - FATAL INJURY": 5,
    "A - SUSPECTED SERIOUS INJURY": 4,
    "C - POSSIBLE INJURY": 3,
    "B - SUSPECTED MINOR INJURY": 2,
    "99 - UNKNOWN": 1,
    "N - NOT INJURED": 0
}

# Applying above mapping
df["Crash Severity"] = df["Crash Severity"].map(mapping_severity)
df["Crash Severity"]

Crash ID
19468595    0
19474485    0
19474684    0
19476604    0
19476605    3
           ..
20318138    0
20323026    0
20313710    0
20313725    0
20316856    0
Name: Crash Severity, Length: 3608, dtype: int64

----

# Question 17
When examining the values in the Manner of Collision column, it becomes apparent that there are 36 unique values. As we discussed in class, it would generally be best to replace this column with a one-hot vector of length 36. However, this approach would significantly increase the dimensionality of the data frame, which could impact the overall behavior of the data points in higher dimensions. To avoid these potential issues, we will only consider the top-level manner of collision. Upon reviewing the values, it becomes clear that the description before the dash represents the top-level description. After this process, determine and apply the appropriate data transformation to the resulting column.
    
a.	Replace it with a one-hot vector of length 6.

b.	Map: ‘SAME DIRECTION’ to 4, ‘ANGLE’ to 3, ‘ONE MOTOR VEHICLE’ to 2, ‘OPPOSITE DIRECTION’ to 1, and ‘OTHER’ to 0.
    
c.	Map: ‘SAME DIRECTION’ to 0, ‘ONE MOTOR VEHICLE’ to 1, ‘ANGLE’ to 2, ‘OPPOSITE DIRECTION’ to 3, ‘OTHER’ to 4.
    
d.	Replace it with a one-hot vector of length 5.

In [36]:
# Top-level description
df["Manner of Collision"] = df["Manner of Collision"].apply(lambda x: x.split('-')[0].strip())

In [37]:
# Replacing  with a one-hot vector of length 5
df = pd.get_dummies(df, columns=["Manner of Collision"], prefix="Manner of Collision")

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 28 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   $1000 Damage to Any One Person's Property  3608 non-null   int64
 1   Adjusted Average Daily Traffic Amount      3608 non-null   float64
 2   City                                       3608 non-null   int64
 3   Crash Date                                 3608 non-null   object
 4   Crash Severity                             3608 non-null   int64
 5   Crash Time                                 3608 non-null   int64
 6   Date Scene Cleared                         3608 non-null   object
 7   Speed Limit                                3608 non-null   float64
 8   Surface Condition                          3608 non-null   object
 9   Time Scene Cleared                         3608 non-null   int64
 10  Weather Condition                          3608 non-null   object
 11  Crash_date_time                            3608 non-null   datetime64[ns]
 12  Scene Cleared DateTime                     3608 non-null   datetime64[ns]
 13  Clearance_time_minutes                     3608 non-null   float64
 14  Road Class_CITY STREET                     3608 non-null   bool
 15  Road Class_FARM TO MARKET                  3608 non-null   bool
 16  Road Class_INTERSTATE                      3608 non-null   bool
 17  Road Class_NON TRAFFICWAY                  3608 non-null   bool
 18  Road Class_US & STATE HIGHWAYS             3608 non-null   bool
 19  Roadway Type_2 LANE, 2 WAY                 3608 non-null   bool
 20  Roadway Type_4 OR MORE LANES, DIVIDED      3608 non-null   bool
 21  Roadway Type_4 OR MORE LANES, UNDIVIDED    3608 non-null   bool
 22  Roadway Type_OTHER                         3608 non-null   bool
 23  Manner of Collision_ANGLE                  3608 non-null   bool
 24  Manner of Collision_ONE MOTOR VEHICLE      3608 non-null   bool
 25  Manner of Collision_OPPOSITE DIRECTION     3608 non-null   bool
 26  Manner of Collision_OTHER                  3608 non-null   bool
 27  Manner of Collision_SAME DIRECTION         3608 non-null   bool
dtypes: bool(14), datetime64[ns](2), float64(3), int64(5), object(4)
memory usage: 472.1+ KB

----

# Question 18
Add a new column, "Day of Week," which extracts the day name(Monday, Tuesday, ...) from the "Crash Date" column. What would be the appropriate data transformation that can be applied to this column? Apply it to the data frame.

a.	One-hot vector of length 7.

b.	Drop this column.

c.	Map to ordinal values 0 to 6.

d.	Map to ordinal values 0, to 7

In [39]:
# Extract day of week from Crash Date
df["Day of Week"] = pd.to_datetime(df["Crash Date"]).dt.day_name()

# Using Map to ordinal values 0 to 6.
day_map = {
    "Monday": 0,
    "Tuesday": 1,
    "Wednesday": 2,
    "Thursday": 3,
    "Friday": 4,
    "Saturday": 5,
    "Sunday": 6
}

# Applying mapping
df["Day of Week"] = df["Day of Week"].map(day_map)
df["Day of Week"]

Crash ID
19468595    5
19474485    5
19474684    5
19476604    5
19476605    5
           ..
20318138    1
20323026    1
20313710    2
20313725    2
20316856    2
Name: Day of Week, Length: 3608, dtype: int64

----

# Question 19
1.	We need to create a new column called "Time of Day" based on the values in the "Crash Time" column. The "Time of Day" column will contain the values "Morning Rush Hour", "Evening Rush Hour", and "Other". The time ranges for the morning and evening rush hours are as follows:

  o	Morning Rush Hour: 7:00 AM to 9:00 AM

  o	Evening Rush Hour: 4:00 PM to 6:00 PM

  o	Other: All other times

The next step involves transforming the "Time of Day" column appropriately. Choose and apply the correct data transformation method for this column:

a.	Map values as follows: "Morning Rush Hour" to -1, "Other" to 0, and "Evening Rush Hour" to 1.

b.	Map values as follows: "Other" to 0, "Morning Rush Hour" to 1, "Evening Rush Hour" to 2.

c.	Replace it with a one-hot vector of length 3.

d.	Map the values as follows: "Morning Rush Hour" to 0, "Evening Rush Hour" to 1, and "Other" to 2.

In [40]:
# Convert 'Crash Time' to a string format with leading zeros
df ["Crash Time"] = df["Crash Time"].astype(str).str.zfill(4)

# Define a function to categorize time of day
def categorize_time_of_day (time_str):
    hour = int(time_str[:2]) # Get the hour
    minute = int(time_str[:2]) # Get the minute

    if 7 <= hour < 9: # Morning Rush Hour (7 AM to 9 AM)
        return "Morning Rush Hour"
    elif 16 <= hour < 18: # Evening Rush Hour (4 PM to 6 PM)
        return "Evening Rush Hour" 
    else:
        return "Other"
# Apply the function to create the 'Time of Day' column using Replace it with a one-hot vector of length 3.
df["Time of Day"] = df["Crash Time"].apply(categorize_time_of_day)
df["Time of Day"].value_counts()

Time of Day
Other                2632
Evening Rush Hour     634
Morning Rush Hour     342
Name: count, dtype: int64

In [41]:
# Replacing  with a one-hot vector of length 3
df = pd.get_dummies(df, columns=["Time of Day"], prefix="Time of Day")

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 32 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   $1000 Damage to Any One Person's Property  3608 non-null   int64
 1   Adjusted Average Daily Traffic Amount      3608 non-null   float64
 2   City                                       3608 non-null   int64
 3   Crash Date                                 3608 non-null   object
 4   Crash Severity                             3608 non-null   int64
 5   Crash Time                                 3608 non-null   object
 6   Date Scene Cleared                         3608 non-null   object
 7   Speed Limit                                3608 non-null   float64
 8   Surface Condition                          3608 non-null   object
 9   Time Scene Cleared                         3608 non-null   int64
 10  Weather Condition                          3608 non-null   object
 11  Crash_date_time                            3608 non-null   datetime64[ns]
 12  Scene Cleared DateTime                     3608 non-null   datetime64[ns]
 13  Clearance_time_minutes                     3608 non-null   float64
 14  Road Class_CITY STREET                     3608 non-null   bool
 15  Road Class_FARM TO MARKET                  3608 non-null   bool
 16  Road Class_INTERSTATE                      3608 non-null   bool
 17  Road Class_NON TRAFFICWAY                  3608 non-null   bool
 18  Road Class_US & STATE HIGHWAYS             3608 non-null   bool
 19  Roadway Type_2 LANE, 2 WAY                 3608 non-null   bool
 20  Roadway Type_4 OR MORE LANES, DIVIDED      3608 non-null   bool
 21  Roadway Type_4 OR MORE LANES, UNDIVIDED    3608 non-null   bool
 22  Roadway Type_OTHER                         3608 non-null   bool
 23  Manner of Collision_ANGLE                  3608 non-null   bool
 24  Manner of Collision_ONE MOTOR VEHICLE      3608 non-null   bool
 25  Manner of Collision_OPPOSITE DIRECTION     3608 non-null   bool
 26  Manner of Collision_OTHER                  3608 non-null   bool
 27  Manner of Collision_SAME DIRECTION         3608 non-null   bool
 28  Day of Week                                3608 non-null   int64
 29  Time of Day_Evening Rush Hour              3608 non-null   bool
 30  Time of Day_Morning Rush Hour              3608 non-null   bool
 31  Time of Day_Other                          3608 non-null   bool
dtypes: bool(17), datetime64[ns](2), float64(3), int64(5), object(5)
memory usage: 510.9+ KB

----

# Question 20
When dealing with the "Surface Condition" column, we will use the same approach as previously discussed. Any categories with fewer than 50 instances will be grouped under a new category called "Other." Additionally, we will remove the numerical code preceding the condition description. For example, for "1 - DRY," we will only consider "DRY." What data transformation technique would be most suitable for this column?
                                                                                                                                                                                                                                                                                                                                                                                                                 
a. Replace it with a one-hot vector of length 8.

b. Replace it with a one-hot vector of length 3.

c. Map values to ordinal values 0 to 7.
    
d. Replace it with a one-hot vector of length 4

In [43]:
# calling the column sum
fre = df["Surface Condition"].value_counts()
fre
# Any categories with fewer than 50 instances will be grouped under a new category called "Other."
less_fre = fre[fre < 50].index
df.loc[df["Surface Condition"].isin(less_fre), "Surface Condition"] = "Other"

# Counting the updated frequency
upd_freq = df["Surface Condition"].value_counts()

# Print the updated frequency
print(upd_freq)
df[df["Surface Condition"] == "Other"]["Surface Condition"].value_counts()

# Removing the numerical code preceding the condition description
surface_map = {
    "1 - DRY": "DRY",
    "2 - WET": "WET",
    "Other": "Other"}

# Applying mapping
df["Surface Condition"] = df["Surface Condition"].map(surface_map)
df["Surface Condition"]

Surface Condition
1 - DRY    3174
2 - WET     381
Other        53
Name: count, dtype: int64

Crash ID
19468595    DRY
19474485    DRY
19474684    DRY
19476604    DRY
19476605    DRY
           ...
20318138    DRY
20323026    DRY
20313710    DRY
20313725    DRY
20316856    DRY
Name: Surface Condition, Length: 3608, dtype: object

In [44]:
# Replacing it with a one-hot vector of length 3
df = pd.get_dummies(df, columns = ["Surface Condition"], prefix = "Surface Condition")

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 34 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   $1000 Damage to Any One Person's Property  3608 non-null   int64
 1   Adjusted Average Daily Traffic Amount      3608 non-null   float64
 2   City                                       3608 non-null   int64
 3   Crash Date                                 3608 non-null   object
 4   Crash Severity                             3608 non-null   int64
 5   Crash Time                                 3608 non-null   object
 6   Date Scene Cleared                         3608 non-null   object
 7   Speed Limit                                3608 non-null   float64
 8   Time Scene Cleared                         3608 non-null   int64
 9   Weather Condition                          3608 non-null   object
 10  Crash_date_time                            3608 non-null   datetime64[ns]
 11  Scene Cleared DateTime                     3608 non-null   datetime64[ns]
 12  Clearance_time_minutes                     3608 non-null   float64
 13  Road Class_CITY STREET                     3608 non-null   bool
 14  Road Class_FARM TO MARKET                  3608 non-null   bool
 15  Road Class_INTERSTATE                      3608 non-null   bool
 16  Road Class_NON TRAFFICWAY                  3608 non-null   bool
 17  Road Class_US & STATE HIGHWAYS             3608 non-null   bool
 18  Roadway Type_2 LANE, 2 WAY                 3608 non-null   bool
 19  Roadway Type_4 OR MORE LANES, DIVIDED      3608 non-null   bool
 20  Roadway Type_4 OR MORE LANES, UNDIVIDED    3608 non-null   bool
 21  Roadway Type_OTHER                         3608 non-null   bool
 22  Manner of Collision_ANGLE                  3608 non-null   bool
 23  Manner of Collision_ONE MOTOR VEHICLE      3608 non-null   bool
 24  Manner of Collision_OPPOSITE DIRECTION     3608 non-null   bool
 25  Manner of Collision_OTHER                  3608 non-null   bool
 26  Manner of Collision_SAME DIRECTION         3608 non-null   bool
 27  Day of Week                                3608 non-null   int64
 28  Time of Day_Evening Rush Hour              3608 non-null   bool
 29  Time of Day_Morning Rush Hour              3608 non-null   bool
 30  Time of Day_Other                          3608 non-null   bool
 31  Surface Condition_DRY                      3608 non-null   bool
 32  Surface Condition_Other                    3608 non-null   bool
 33  Surface Condition_WET                      3608 non-null   bool
dtypes: bool(20), datetime64[ns](2), float64(3), int64(5), object(4)
memory usage: 493.3+ KB

----

# Question 21
Given our previous discussion, we need to apply the following logic to the “Weather Condition” column: if a category has fewer than 50 instances, it will be grouped under the category “OTHER.” Additionally, we should remove the numerical code from the condition description. For instance, for “1 - CLEAR,” we should only consider “CLEAR.” With this in mind, what would be the most effective data transformation technique for this column?

a. Map values according to their frequencies in that column to ordinal values 0 to 3.
    
b. Replace it with a one-hot vector of length 8.

c. Map values according to their frequencies in that column to ordinal values 1 to 8.
    
d. Replace it with a one-hot vector of length 4

In [46]:
# Calling the column
df["Weather Condition"]

# Checking fewer than 50 instances
fre_count = df["Weather Condition"].value_counts()
fre_count

# Grouping fewer than 50 instances to "Other"
low_fre = fre_count[fre_count < 50].index
df.loc[df["Weather Condition"].isin(low_fre), "Weather Condition"] = "Other"

# Counting the updated frequency
updated_freq = df["Weather Condition"].value_counts()

# Print the updated frequency
print(updated_freq)
df[df["Weather Condition"] == "Other"]["Weather Condition"].value_counts()

# Removing the numerical code preceding the condition description
weather_map = {
    "1 - CLEAR": "CLEAR",
    "2 - CLOUDY": "CLOUDY",
    "3 - RAIN": "RAIN", 
    "Other": "Other"}

# Applying weather mapping
df["Weather Condition"] = df["Weather Condition"].map(weather_map)
df["Weather Condition"]

# Map values according to their frequencies in that column to ordinal values 0 to 3
ordinal_map = {
    "Other": 0,
    "CLEAR": 1,
    "CLOUDY": 2,
    "RAIN": 3}

df["Weather Condition"] = df["Weather Condition"].map(ordinal_map)
df["Weather Condition"]

Weather Condition
1 - CLEAR     2879
2 - CLOUDY     400
3 - RAIN       278
Other           51
Name: count, dtype: int64

Crash ID
19468595    1
19474485    1
19474684    1
19476604    1
19476605    1
           ..
20318138    1
20323026    1
20313710    1
20313725    1
20316856    1
Name: Weather Condition, Length: 3608, dtype: int64

---

# Question 22
Call the "info" function on your data frame. Ensure that all the columns, except "Crash Date", "Crash Time", "Time Scene Cleared", "Date Scene Cleared", "Crash DateTime", and "Scene Cleared DateTime", are of numerical data types (int, float, or bool). If not, please review the previous lab questions to ensure all tasks have been completed. Keep in mind that the order of implementation is important for successfully completing this Lab. Next, drop the four mentioned columns from the data frame. Then, provide the number of columns in the remaining data frame.

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 34 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   $1000 Damage to Any One Person's Property  3608 non-null   int64
 1   Adjusted Average Daily Traffic Amount      3608 non-null   float64
 2   City                                       3608 non-null   int64
 3   Crash Date                                 3608 non-null   object
 4   Crash Severity                             3608 non-null   int64
 5   Crash Time                                 3608 non-null   object
 6   Date Scene Cleared                         3608 non-null   object
 7   Speed Limit                                3608 non-null   float64
 8   Time Scene Cleared                         3608 non-null   int64
 9   Weather Condition                          3608 non-null   int64
 10  Crash_date_time                            3608 non-null   datetime64[ns]
 11  Scene Cleared DateTime                     3608 non-null   datetime64[ns]
 12  Clearance_time_minutes                     3608 non-null   float64
 13  Road Class_CITY STREET                     3608 non-null   bool
 14  Road Class_FARM TO MARKET                  3608 non-null   bool
 15  Road Class_INTERSTATE                      3608 non-null   bool
 16  Road Class_NON TRAFFICWAY                  3608 non-null   bool
 17  Road Class_US & STATE HIGHWAYS             3608 non-null   bool
 18  Roadway Type_2 LANE, 2 WAY                 3608 non-null   bool
 19  Roadway Type_4 OR MORE LANES, DIVIDED      3608 non-null   bool
 20  Roadway Type_4 OR MORE LANES, UNDIVIDED    3608 non-null   bool
 21  Roadway Type_OTHER                         3608 non-null   bool
 22  Manner of Collision_ANGLE                  3608 non-null   bool
 23  Manner of Collision_ONE MOTOR VEHICLE      3608 non-null   bool
 24  Manner of Collision_OPPOSITE DIRECTION     3608 non-null   bool
 25  Manner of Collision_OTHER                  3608 non-null   bool
 26  Manner of Collision_SAME DIRECTION         3608 non-null   bool
 27  Day of Week                                3608 non-null   int64
 28  Time of Day_Evening Rush Hour              3608 non-null   bool
 29  Time of Day_Morning Rush Hour              3608 non-null   bool
 30  Time of Day_Other                          3608 non-null   bool
 31  Surface Condition_DRY                      3608 non-null   bool
 32  Surface Condition_Other                    3608 non-null   bool
 33  Surface Condition_WET                      3608 non-null   bool
dtypes: bool(20), datetime64[ns](2), float64(3), int64(6), object(3)
memory usage: 493.3+ KB

In [48]:
# Dropping columns
df.drop(columns=["Crash Date", "Crash Time", "Time Scene Cleared", "Date Scene Cleared"], inplace = True)

In [49]:
# New shape of data frame
upd_shape_dataframe = df.shape[1]
print(f"Updated new number of columns {upd_shape_dataframe}")

Updated new number of columns 30

----

# Question 23
Upload the .ipynb file you used to answer the questions in this Lab. The file name should follow the following naming convention: Lab1_Lastname_Firstname.ipynb.

---