In [1]:
!pip install --upgrade numpy==2.1.0
!pip install --upgrade pandas==2.2.2

Requirement already satisfied: numpy==2.1.0 in c:\python312\lib\site-packages (2.1.0)
Requirement already satisfied: pandas==2.2.2 in c:\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\python312\lib\site-packages (from pandas==2.2.2) (2.1.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\python312\lib\site-packages (from pandas==2.2.2) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas==2.2.2) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas==2.2.2) (2024.1)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.8.2->pandas==2.2.2) (1.16.0)

In [2]:
!pip install --upgrade matplotlib

Requirement already satisfied: matplotlib in c:\python312\lib\site-packages (3.9.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\python312\lib\site-packages (from matplotlib) (1.3.0)
Requirement already satisfied: cycler>=0.10 in c:\python312\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\python312\lib\site-packages (from matplotlib) (4.53.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\python312\lib\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\python312\lib\site-packages (from matplotlib) (2.1.0)
Requirement already satisfied: packaging>=20.0 in c:\python312\lib\site-packages (from matplotlib) (24.1)
Requirement already satisfied: pillow>=8 in c:\python312\lib\site-packages (from matplotlib) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\python312\lib\site-packages (from matplotlib) (3.1.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\python312\lib\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

In [3]:
!pip install --upgrade scipy

Requirement already satisfied: scipy in c:\python312\lib\site-packages (1.14.1)
Requirement already satisfied: numpy<2.3,>=1.23.5 in c:\python312\lib\site-packages (from scipy) (2.1.0)

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv("Denton Accidents.csv",  skiprows=12)
df.head()

,Crash ID,$1000 Damage to Any One Person's Property,Adjusted Average Daily Traffic Amount,City,Crash Date,Crash Severity,Crash Time,Date Scene Cleared,Manner of Collision,Road Class,Roadway Type,Speed Limit,Surface Condition,Time Scene Cleared,Weather Condition
0,19468595,Yes,83664,DENTON,2023-04-01,N - NOT INJURED,1559,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1559,1 - CLEAR
1,19474485,Yes,70137,DENTON,2023-04-01,N - NOT INJURED,1544,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",70,1 - DRY,1640,1 - CLEAR
2,19474684,Yes,No Data,DENTON,2023-04-01,N - NOT INJURED,1930,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,30,1 - DRY,2055,1 - CLEAR
3,19476604,Yes,27522,DENTON,2023-04-01,N - NOT INJURED,948,2023-04-01,ANGLE - ONE STRAIGHT-ONE RIGHT TURN,US & STATE HIGHWAYS,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1026,1 - CLEAR
4,19476605,Yes,No Data,DENTON,2023-04-01,C - POSSIBLE INJURY,1246,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,40,1 - DRY,1305,1 - CLEAR

In [6]:
df.tail()

,Crash ID,$1000 Damage to Any One Person's Property,Adjusted Average Daily Traffic Amount,City,Crash Date,Crash Severity,Crash Time,Date Scene Cleared,Manner of Collision,Road Class,Roadway Type,Speed Limit,Surface Condition,Time Scene Cleared,Weather Condition
3603,20318138,Yes,84501,DENTON,2024-07-30,N - NOT INJURED,1630,2024-07-30,SAME DIRECTION - BOTH GOING STRAIGHT-REAR END,INTERSTATE,"4 OR MORE LANES, DIVIDED",70,1 - DRY,1830,1 - CLEAR
3604,20323026,Yes,No Data,DENTON,2024-07-30,N - NOT INJURED,1254,2024-07-30,ANGLE - ONE RIGHT TURN-ONE LEFT TURN,CITY STREET,No Data,30,1 - DRY,1349,1 - CLEAR
3605,20313710,Yes,14763,DENTON,2024-07-31,N - NOT INJURED,1205,2024-07-31,SAME DIRECTION - ONE STRAIGHT-ONE STOPPED,CITY STREET,"4 OR MORE LANES, UNDIVIDED",30,1 - DRY,1205,1 - CLEAR
3606,20313725,Yes,No Data,DENTON,2024-07-31,N - NOT INJURED,1633,2024-07-31,ANGLE - ONE STRAIGHT-ONE LEFT TURN,CITY STREET,No Data,30,1 - DRY,1700,1 - CLEAR
3607,20316856,Yes,84501,DENTON,2024-07-31,N - NOT INJURED,1745,2024-07-31,ONE MOTOR VEHICLE - GOING STRAIGHT,INTERSTATE,"4 OR MORE LANES, DIVIDED",30,1 - DRY,1827,1 - CLEAR

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3608 entries, 0 to 3607
Data columns (total 15 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Crash ID                                   3608 non-null   int64
 1   $1000 Damage to Any One Person's Property  3608 non-null   object
 2   Adjusted Average Daily Traffic Amount      3608 non-null   object
 3   City                                       3608 non-null   object
 4   Crash Date                                 3608 non-null   object
 5   Crash Severity                             3608 non-null   object
 6   Crash Time                                 3608 non-null   int64
 7   Date Scene Cleared                         3608 non-null   object
 8   Manner of Collision                        3608 non-null   object
 9   Road Class                                 3608 non-null   object
 10  Roadway Type                               3608 non-null   object
 11  Speed Limit                                3608 non-null   int64
 12  Surface Condition                          3608 non-null   object
 13  Time Scene Cleared                         3608 non-null   int64
 14  Weather Condition                          3608 non-null   object
dtypes: int64(4), object(11)
memory usage: 422.9+ KB

In [8]:
df.describe()

           Crash ID   Crash Time  Speed Limit  Time Scene Cleared
count  3.608000e+03  3608.000000  3608.000000         3608.000000
mean   1.988672e+07  1363.786031    43.718681         1420.761086
std    2.420144e+05   527.677247    17.809324          539.006213
min    1.946860e+07     0.000000    -1.000000            3.000000
25%    1.968752e+07  1018.750000    30.000000         1056.000000
50%    1.987500e+07  1435.000000    45.000000         1511.000000
75%    2.009872e+07  1730.000000    55.000000         1817.000000
max    2.032641e+07  2359.000000    75.000000         2359.000000

``` LAB 1 ```

# QUESTION 1
What is the shape of this data frame?

In [9]:
# Shape of the data frame
shape = df.shape

# Output
print(f"Shape of the data frame is:{shape}")

Shape of the data frame is:(3608, 15)

----

# QUESTION 2
How many missing values in the form of np.nan exist in this dataframe?

In [10]:
# Missing values in np.nan form
df.isna()

,Crash ID,$1000 Damage to Any One Person's Property,Adjusted Average Daily Traffic Amount,City,Crash Date,Crash Severity,Crash Time,Date Scene Cleared,Manner of Collision,Road Class,Roadway Type,Speed Limit,Surface Condition,Time Scene Cleared,Weather Condition
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3603,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3604,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3605,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3606,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3607,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [11]:
# Sum of missing values in np.nan form
df.isna().sum()

Crash ID                                     0
$1000 Damage to Any One Person's Property    0
Adjusted Average Daily Traffic Amount        0
City                                         0
Crash Date                                   0
Crash Severity                               0
Crash Time                                   0
Date Scene Cleared                           0
Manner of Collision                          0
Road Class                                   0
Roadway Type                                 0
Speed Limit                                  0
Surface Condition                            0
Time Scene Cleared                           0
Weather Condition                            0
dtype: int64

----

# QUESTION 3
How many unique values are in the Crash ID column? Make this column the index of the data frame.

In [12]:
df["Crash ID"] = df["Crash ID"].unique()
df["Crash ID"]

0       19468595
1       19474485
2       19474684
3       19476604
4       19476605
          ...
3603    20318138
3604    20323026
3605    20313710
3606    20313725
3607    20316856
Name: Crash ID, Length: 3608, dtype: int64

In [13]:
df["Crash ID"].value_counts()

Crash ID
20316856    1
19468595    1
19474485    1
19474684    1
19476604    1
           ..
19479014    1
19479013    1
19477499    1
19477450    1
19487709    1
Name: count, Length: 3608, dtype: int64

In [14]:
df.set_index("Crash ID", inplace = True)
df.head()

,$1000 Damage to Any One Person's Property,Adjusted Average Daily Traffic Amount,City,Crash Date,Crash Severity,Crash Time,Date Scene Cleared,Manner of Collision,Road Class,Roadway Type,Speed Limit,Surface Condition,Time Scene Cleared,Weather Condition
Crash ID,,,,,,,,,,,,,,
19468595,Yes,83664,DENTON,2023-04-01,N - NOT INJURED,1559,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1559,1 - CLEAR
19474485,Yes,70137,DENTON,2023-04-01,N - NOT INJURED,1544,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",70,1 - DRY,1640,1 - CLEAR
19474684,Yes,No Data,DENTON,2023-04-01,N - NOT INJURED,1930,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,30,1 - DRY,2055,1 - CLEAR
19476604,Yes,27522,DENTON,2023-04-01,N - NOT INJURED,948,2023-04-01,ANGLE - ONE STRAIGHT-ONE RIGHT TURN,US & STATE HIGHWAYS,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1026,1 - CLEAR
19476605,Yes,No Data,DENTON,2023-04-01,C - POSSIBLE INJURY,1246,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,40,1 - DRY,1305,1 - CLEAR

In [15]:
# How many unique values are in the Crash ID column? Make this column the index of the data frame.
df.index

Index([19468595, 19474485, 19474684, 19476604, 19476605, 19477352, 19479006,
       19483031, 19487709, 19477450,
       ...
       20312265, 20313642, 20313678, 20315847, 20315894, 20318138, 20323026,
       20313710, 20313725, 20316856],
      dtype='int64', name='Crash ID', length=3608)

-----

# QUESTION 4
The objective of the four labs you are completing for this course is to determine the time it takes to clear the scene after each accident in the city of Denton. There are four columns that collect data and time-related information, including the time of the accident and the time when the scene was cleared. The first step involves combining the â€œDateâ€ and â€œTimeâ€ columns into a single column in order to compute the duration it will take to clear the scene. The difference between â€œTime Scene Clearedâ€ and â€ Accident Timeâ€ in minutes in the â€œClearance Time (Minutes)â€. Note that to correctly compute the â€œClearance Time (Minutes)â€ you should consider both data and time columns. After completing this tasks, enter the average â€œClearance Time (Minutes)â€ for all the accidents in this data frame. Enter the answer with two digits after the decimal point.

In [16]:
# Coverting date and time format to datetime format
df["Crash_date_time"] = pd.to_datetime(df["Crash Date"] + " " + df["Crash Time"].astype(str).str.zfill(4), format = "%Y-%m-%d %H%M")
df["Scene Cleared DateTime"] = pd.to_datetime(df["Date Scene Cleared"] + " " + df["Time Scene Cleared"].astype(str).str.zfill(4), format = "%Y-%m-%d %H%M") 

# Calculate clearance time in minutes
df["Clearance_time_minutes"] = (df["Scene Cleared DateTime"] - df["Crash_date_time"]).dt.total_seconds() / 60

# Calculate average clearance time

avg_clearance_time = df["Clearance_time_minutes"] .mean()

# output

print(f"Average Clearance Time in Minutes : {avg_clearance_time:.2f}")

Average Clearance Time in Minutes : 136.90

----

# Question 5
What would be an appropriate preprocessing approach for the content of the column â€œ$1000 Damage to Any One Personâ€™s Propertyâ€. Apply it to the data frame.

In [17]:
# drop the column
df.describe(include= ['O'])

,$1000 Damage to Any One Person's Property,Adjusted Average Daily Traffic Amount,City,Crash Date,Crash Severity,Date Scene Cleared,Manner of Collision,Road Class,Roadway Type,Surface Condition,Weather Condition
count,3608,3608,3608,3608,3608,3608,3608,3608,3608,3608,3608
unique,1,56,1,486,6,484,36,7,4,8,8
top,Yes,No Data,DENTON,2023-11-30,N - NOT INJURED,2023-11-30,ONE MOTOR VEHICLE - GOING STRAIGHT,INTERSTATE,"4 OR MORE LANES, DIVIDED",1 - DRY,1 - CLEAR
freq,3608,1380,3608,21,2400,20,556,1189,1776,3174,2879

In [18]:
df.drop("$1000 Damage to Any One Person's Property", axis=1, inplace=True)

In [19]:
df.head()

,Adjusted Average Daily Traffic Amount,City,Crash Date,Crash Severity,Crash Time,Date Scene Cleared,Manner of Collision,Road Class,Roadway Type,Speed Limit,Surface Condition,Time Scene Cleared,Weather Condition,Crash_date_time,Scene Cleared DateTime,Clearance_time_minutes
Crash ID,,,,,,,,,,,,,,,,
19468595,83664,DENTON,2023-04-01,N - NOT INJURED,1559,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1559,1 - CLEAR,2023-04-01 15:59:00,2023-04-01 15:59:00,0.0
19474485,70137,DENTON,2023-04-01,N - NOT INJURED,1544,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",70,1 - DRY,1640,1 - CLEAR,2023-04-01 15:44:00,2023-04-01 16:40:00,56.0
19474684,No Data,DENTON,2023-04-01,N - NOT INJURED,1930,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,30,1 - DRY,2055,1 - CLEAR,2023-04-01 19:30:00,2023-04-01 20:55:00,85.0
19476604,27522,DENTON,2023-04-01,N - NOT INJURED,948,2023-04-01,ANGLE - ONE STRAIGHT-ONE RIGHT TURN,US & STATE HIGHWAYS,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1026,1 - CLEAR,2023-04-01 09:48:00,2023-04-01 10:26:00,38.0
19476605,No Data,DENTON,2023-04-01,C - POSSIBLE INJURY,1246,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,40,1 - DRY,1305,1 - CLEAR,2023-04-01 12:46:00,2023-04-01 13:05:00,19.0

-----

# Question 6

Select all the forms of missing values under the column â€œAdjusted Average Daily Traffic Amountâ€. Replace all the sentinel missing values with np.nan and change data type of the column to float.

In [20]:
df["Adjusted Average Daily Traffic Amount"]

Crash ID
19468595      83664
19474485      70137
19474684    No Data
19476604      27522
19476605    No Data
             ...
20318138      84501
20323026    No Data
20313710      14763
20313725    No Data
20316856      84501
Name: Adjusted Average Daily Traffic Amount, Length: 3608, dtype: object

In [21]:
# Replacing all the sentinel missing values with np.nan and change data type of the column to float.
missing_values = ["No Data"]
df["Adjusted Average Daily Traffic Amount"] = df["Adjusted Average Daily Traffic Amount"].replace(missing_values, np.nan).astype(float)
df["Adjusted Average Daily Traffic Amount"]

Crash ID
19468595    83664.0
19474485    70137.0
19474684        NaN
19476604    27522.0
19476605        NaN
             ...
20318138    84501.0
20323026        NaN
20313710    14763.0
20313725        NaN
20316856    84501.0
Name: Adjusted Average Daily Traffic Amount, Length: 3608, dtype: float64

In [22]:
df.head()

,Adjusted Average Daily Traffic Amount,City,Crash Date,Crash Severity,Crash Time,Date Scene Cleared,Manner of Collision,Road Class,Roadway Type,Speed Limit,Surface Condition,Time Scene Cleared,Weather Condition,Crash_date_time,Scene Cleared DateTime,Clearance_time_minutes
Crash ID,,,,,,,,,,,,,,,,
19468595,83664.0,DENTON,2023-04-01,N - NOT INJURED,1559,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1559,1 - CLEAR,2023-04-01 15:59:00,2023-04-01 15:59:00,0.0
19474485,70137.0,DENTON,2023-04-01,N - NOT INJURED,1544,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",70,1 - DRY,1640,1 - CLEAR,2023-04-01 15:44:00,2023-04-01 16:40:00,56.0
19474684,NaN,DENTON,2023-04-01,N - NOT INJURED,1930,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,30,1 - DRY,2055,1 - CLEAR,2023-04-01 19:30:00,2023-04-01 20:55:00,85.0
19476604,27522.0,DENTON,2023-04-01,N - NOT INJURED,948,2023-04-01,ANGLE - ONE STRAIGHT-ONE RIGHT TURN,US & STATE HIGHWAYS,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1026,1 - CLEAR,2023-04-01 09:48:00,2023-04-01 10:26:00,38.0
19476605,NaN,DENTON,2023-04-01,C - POSSIBLE INJURY,1246,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,40,1 - DRY,1305,1 - CLEAR,2023-04-01 12:46:00,2023-04-01 13:05:00,19.0

-----

# Question 7
In order to fill in the missing values in the â€œAdjusted Average Daily Traffic Amountâ€ column, we will calculate the median value for all available entries in the â€œAdjusted Average Daily Traffic Amountâ€ for each â€œRoad Class.â€ We will then use this median value to replace any instances of NaN in the â€œAdjusted Average Daily Traffic Amountâ€ column. Although this method will fill in most of the missing values, there may still be some rows with missing values remaining. Enter the number of instances with NaN values after this data imputation

In [23]:


a = df.groupby("Road Class")["Adjusted Average Daily Traffic Amount"].median()
a

Road Class
CITY STREET            14489.0
COUNTY ROAD             8562.0
FARM TO MARKET          8562.0
INTERSTATE             83664.0
NON TRAFFICWAY             NaN
OTHER ROADS                NaN
US & STATE HIGHWAYS    25998.0
Name: Adjusted Average Daily Traffic Amount, dtype: float64

In [24]:
# Calculating median values for all available entries in "Adjusted Average Daily Traffic Amountâ€ column
roadclass_median = df.groupby("Road Class")["Adjusted Average Daily Traffic Amount"].median()
roadclass_median

# Filling with NaN values using median
df["Adjusted Average Daily Traffic Amount"] = df.apply(lambda val: roadclass_median[val["Road Class"]] 
if np.isnan(val["Adjusted Average Daily Traffic Amount"]) 
else val["Adjusted Average Daily Traffic Amount"], axis=1)

# Counting the remaining NaN values
nan_count = df['Adjusted Average Daily Traffic Amount'].isnull().sum()

# Output
print(f"Number of instances with NaN values after imputation: {nan_count}")
df.head()

Number of instances with NaN values after imputation: 255

,Adjusted Average Daily Traffic Amount,City,Crash Date,Crash Severity,Crash Time,Date Scene Cleared,Manner of Collision,Road Class,Roadway Type,Speed Limit,Surface Condition,Time Scene Cleared,Weather Condition,Crash_date_time,Scene Cleared DateTime,Clearance_time_minutes
Crash ID,,,,,,,,,,,,,,,,
19468595,83664.0,DENTON,2023-04-01,N - NOT INJURED,1559,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1559,1 - CLEAR,2023-04-01 15:59:00,2023-04-01 15:59:00,0.0
19474485,70137.0,DENTON,2023-04-01,N - NOT INJURED,1544,2023-04-01,SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE,INTERSTATE,"4 OR MORE LANES, DIVIDED",70,1 - DRY,1640,1 - CLEAR,2023-04-01 15:44:00,2023-04-01 16:40:00,56.0
19474684,14489.0,DENTON,2023-04-01,N - NOT INJURED,1930,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,30,1 - DRY,2055,1 - CLEAR,2023-04-01 19:30:00,2023-04-01 20:55:00,85.0
19476604,27522.0,DENTON,2023-04-01,N - NOT INJURED,948,2023-04-01,ANGLE - ONE STRAIGHT-ONE RIGHT TURN,US & STATE HIGHWAYS,"4 OR MORE LANES, DIVIDED",50,1 - DRY,1026,1 - CLEAR,2023-04-01 09:48:00,2023-04-01 10:26:00,38.0
19476605,14489.0,DENTON,2023-04-01,C - POSSIBLE INJURY,1246,2023-04-01,ONE MOTOR VEHICLE - GOING STRAIGHT,CITY STREET,No Data,40,1 - DRY,1305,1 - CLEAR,2023-04-01 12:46:00,2023-04-01 13:05:00,19.0

-----

# Question 8
Upon reviewing the rows with missing values, it is evident that the majority of them pertain to the â€œNON TRAFFICâ€ road class. This suggests that these entries are either for private roadways or parking lots. Therefore, it is reasonable to replace the zero adjusted average daily traffic for these entries. As a result, the remaining missing values in the â€œAdjusted Average Daily Traffic Amountâ€ column should be replaced with zero. After making these replacements, please compute and enter the mean of this column, rounding your answer to two decimal places.

In [25]:
# Computing the mean of Adjusted Average Daily Traffic Amount after filling missing values with zero

df["Adjusted Average Daily Traffic Amount"] = df["Adjusted Average Daily Traffic Amount"].fillna(0)
df["Adjusted Average Daily Traffic Amount"]

b = df[df["Road Class"] == "OTHER ROADS"]["Adjusted Average Daily Traffic Amount"]
c = df[df["Road Class"] == "NON TRAFFICWAY"]["Adjusted Average Daily Traffic Amount"]
d = df["Adjusted Average Daily Traffic Amount"].mean().round(2)

#output
print(f"The mean of Adjusted Average Daily Traffic Amount is {d}")

The mean of Adjusted Average Daily Traffic Amount is 36229.76

-----

# Question 9
Now, let's shift our focus to the "Road Class" column. This column contains some categories with very few instances in the dataset. Increasing the dimensionality of the data frame may not always be the best approach. When there are only a few instances of a category, it may not significantly contribute to learning the data pattern. In such cases, we typically make a judgment call to sacrifice some of these categories in favor of reducing the number of categories in that column. We plan to address the "Road Class" column by replacing all categories with fewer than 10 instances with "City STREET". Complete the table below with the frequency of each class after the above data manipulation. For those classes that have been mapped, the frequency becomes 0.

INTERSTATE: 

CITY STREET: 

US & STATE HIGHWAYS:

FARM TO MARKET:

NON TRAFFICWAY: 

OTHER ROADS: 

COUNTY ROAD:

In [26]:
frequency = df['Road Class'].value_counts()
frequency

Road Class
INTERSTATE             1189
CITY STREET            1018
US & STATE HIGHWAYS     861
FARM TO MARKET          284
NON TRAFFICWAY          254
OTHER ROADS               1
COUNTY ROAD               1
Name: count, dtype: int64

In [27]:
# Counting the frequency of each category
frequency = df['Road Class'].value_counts()

# Replace categories with fewer than 10 instances
low_frequency_classes = frequency[frequency < 10].index
df.loc[df['Road Class'].isin(low_frequency_classes), 'Road Class'] = 'CITY STREET'

# Counting the updated frequency
upd_frequency = df['Road Class'].value_counts()

# Print the updated frequency
print(upd_frequency)

Road Class
INTERSTATE             1189
CITY STREET            1020
US & STATE HIGHWAYS     861
FARM TO MARKET          284
NON TRAFFICWAY          254
Name: count, dtype: int64

------

# Question 10
What sentinel value is used to represent missing values under the column â€œSpeed Limitâ€? Replace the sentinal value with np.nan.

In [28]:
# -1 is sentinel value used to represent missing values under the column â€œSpeed Limitâ€

Speedlimit_missingvalues = [-1]

# Replacing the sentinal value with np.nan

df["Speed Limit"] = df["Speed Limit"].replace(Speedlimit_missingvalues, np.nan)
print(df["Speed Limit"])

# Cross checking only the np.nan values
e = df["Speed Limit"].isna().sum()
e

Crash ID
19468595    50.0
19474485    70.0
19474684    30.0
19476604    50.0
19476605    40.0
            ...
20318138    70.0
20323026    30.0
20313710    30.0
20313725    30.0
20316856    30.0
Name: Speed Limit, Length: 3608, dtype: float64

np.int64(143)

-----

# Question 11
Replace missing values in the â€œSpeed Limitâ€ column with the median speed limit for the corresponding â€œRoad Classâ€, and then enter the mean of the â€œSpeed Limitâ€ column after the imputation. Enter the answer with two digits after the decimal point.

In [29]:
# Calculating median values for Speed Limit
speedlimit_median = df.groupby("Road Class")["Speed Limit"].median()
speedlimit_median

# Filling NaN values with median
df["Speed Limit"] = df.apply(lambda val: speedlimit_median[val["Road Class"]] 
if np.isnan(val["Speed Limit"]) 
else val["Speed Limit"], axis=1)

# Calculating mean
SpeedLimit_mean = df["Speed Limit"].mean()

# Output
print(f"The mean of the â€œSpeed Limitâ€ column after the imputation: {SpeedLimit_mean:.2f}")

The mean of the â€œSpeed Limitâ€ column after the imputation: 44.98

-----

# Question 12
What is the best method for transforming the data in the â€œRoad Classâ€ column? Apply this transformation to the data frame.

a.	Map to ordinal values according to the frequency of each road class.

b.	Replace it with a one-hot vector of length 7.

c.	Replace it with a one-hot vector of length 5.

d.	Map to ordinal values according to the importance of the road class.

In [30]:
# Replacing the 'Road Class' column with one-hot encoding
df = pd.get_dummies(df, columns=["Road Class"], prefix="Road Class")

# Checking the new DataFrame with one-hot encoded columns
print(df.head())

          Adjusted Average Daily Traffic Amount    City  Crash Date  \
Crash ID
19468595                                83664.0  DENTON  2023-04-01
19474485                                70137.0  DENTON  2023-04-01
19474684                                14489.0  DENTON  2023-04-01
19476604                                27522.0  DENTON  2023-04-01
19476605                                14489.0  DENTON  2023-04-01

               Crash Severity  Crash Time Date Scene Cleared  \
Crash ID
19468595      N - NOT INJURED        1559         2023-04-01
19474485      N - NOT INJURED        1544         2023-04-01
19474684      N - NOT INJURED        1930         2023-04-01
19476604      N - NOT INJURED         948         2023-04-01
19476605  C - POSSIBLE INJURY        1246         2023-04-01

                                     Manner of Collision  \
Crash ID
19468595  SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE
19474485  SAME DIRECTION - BOTH GOING STRAIGHT-SIDESWIPE
19474684              ONE MOTOR VEHICLE - GOING STRAIGHT
19476604             ANGLE - ONE STRAIGHT-ONE RIGHT TURN
19476605              ONE MOTOR VEHICLE - GOING STRAIGHT

                      Roadway Type  Speed Limit Surface Condition  \
Crash ID
19468595  4 OR MORE LANES, DIVIDED         50.0           1 - DRY
19474485  4 OR MORE LANES, DIVIDED         70.0           1 - DRY
19474684                   No Data         30.0           1 - DRY
19476604  4 OR MORE LANES, DIVIDED         50.0           1 - DRY
19476605                   No Data         40.0           1 - DRY

          Time Scene Cleared Weather Condition     Crash_date_time  \
Crash ID
19468595                1559         1 - CLEAR 2023-04-01 15:59:00
19474485                1640         1 - CLEAR 2023-04-01 15:44:00
19474684                2055         1 - CLEAR 2023-04-01 19:30:00
19476604                1026         1 - CLEAR 2023-04-01 09:48:00
19476605                1305         1 - CLEAR 2023-04-01 12:46:00

         Scene Cleared DateTime  Clearance_time_minutes  \
Crash ID
19468595    2023-04-01 15:59:00                     0.0
19474485    2023-04-01 16:40:00                    56.0
19474684    2023-04-01 20:55:00                    85.0
19476604    2023-04-01 10:26:00                    38.0
19476605    2023-04-01 13:05:00                    19.0

          Road Class_CITY STREET  Road Class_FARM TO MARKET  \
Crash ID
19468595                   False                      False
19474485                   False                      False
19474684                    True                      False
19476604                   False                      False
19476605                    True                      False

          Road Class_INTERSTATE  Road Class_NON TRAFFICWAY  \
Crash ID
19468595                   True                      False
19474485                   True                      False
19474684                  False                      False
19476604                  False                      False
19476605                  False                      False

          Road Class_US & STATE HIGHWAYS
Crash ID
19468595                           False
19474485                           False
19474684                           False
19476604                            True
19476605                           False

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 20 columns):
 #   Column                                 Non-Null Count  Dtype
---  ------                                 --------------  -----
 0   Adjusted Average Daily Traffic Amount  3608 non-null   float64
 1   City                                   3608 non-null   object
 2   Crash Date                             3608 non-null   object
 3   Crash Severity                         3608 non-null   object
 4   Crash Time                             3608 non-null   int64
 5   Date Scene Cleared                     3608 non-null   object
 6   Manner of Collision                    3608 non-null   object
 7   Roadway Type                           3608 non-null   object
 8   Speed Limit                            3608 non-null   float64
 9   Surface Condition                      3608 non-null   object
 10  Time Scene Cleared                     3608 non-null   int64
 11  Weather Condition                      3608 non-null   object
 12  Crash_date_time                        3608 non-null   datetime64[ns]
 13  Scene Cleared DateTime                 3608 non-null   datetime64[ns]
 14  Clearance_time_minutes                 3608 non-null   float64
 15  Road Class_CITY STREET                 3608 non-null   bool
 16  Road Class_FARM TO MARKET              3608 non-null   bool
 17  Road Class_INTERSTATE                  3608 non-null   bool
 18  Road Class_NON TRAFFICWAY              3608 non-null   bool
 19  Road Class_US & STATE HIGHWAYS         3608 non-null   bool
dtypes: bool(5), datetime64[ns](2), float64(3), int64(2), object(8)
memory usage: 468.6+ KB

----

# Question 13
The next column with a significant number of missing values is "Roadway Type". We will explore an alternative method to address the missing values for this column. Instead of using the information from available values in this column to impute the missing values, we will create a new category called "OTHER" and replace all np.nan and "No Data" values with "OTHER". Please fill in the following table to demonstrate the frequency of each category in this column.

4 OR MORE LANES, DIVIDED: 

4 OR MORE LANES, UNDIVIDED:

2 LANE, 2 WAY:

OTHER:

In [32]:
df['Roadway Type'].unique()

array(['4 OR MORE LANES, DIVIDED', 'No Data', '2 LANE, 2 WAY',
       '4 OR MORE LANES, UNDIVIDED'], dtype=object)

In [33]:
# Replace 'No Data' with np.nan
df.replace({'Roadway Type': { 'No Data': np.nan }}, inplace=True)

# Replace np.nan with "OTHER"
df.fillna({'Roadway Type':'OTHER'}, inplace=True)

# Check the updated unique values in the "Roadway Type" column
print(df['Roadway Type'].value_counts())

Roadway Type
4 OR MORE LANES, DIVIDED      1776
OTHER                         1379
4 OR MORE LANES, UNDIVIDED     267
2 LANE, 2 WAY                  186
Name: count, dtype: int64

# Replacing 'No Data' with np.nan
df.replace({"Roadway Type": { "No Data": np.nan }}, inplace=True)

# Replacing np.nan with "OTHER"
df.fillna({"Roadway Type":"OTHER"}, inplace=True)

# Checking the updated unique values in the "Roadway Type" column
print(df["Roadway Type"].value_counts())

---

# Question 14
Choose and apply the proper data transformation on values in column â€œRoadway Typeâ€.

a.	Replace it with a one-hot vector of length 4.

b.	Map values as follows: â€œ4 OR MORE LANES, DIVIDEDâ€ to 2, â€œ4 OR MORE LANES, UNDIVIDEDâ€ to 1, and â€œ2 LANE, 2 WAYâ€ to 0.

c.	Replace it with a one-hot vector of length 3.

d.	Map values as follows: â€œ4 OR MORE LANES, DIVIDEDâ€ to 3, â€œ4 OR MORE LANES, UNDIVIDEDâ€ to 1, â€œ2 LANE, 2 WAYâ€ to 1, and â€œOTHERâ€ to 0.

In [34]:
df = pd.get_dummies(df, columns=['Roadway Type'], prefix='Roadway Type')

In [35]:
# Check the updated DataFrame with one-hot encoded columns
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 23 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Adjusted Average Daily Traffic Amount    3608 non-null   float64
 1   City                                     3608 non-null   object
 2   Crash Date                               3608 non-null   object
 3   Crash Severity                           3608 non-null   object
 4   Crash Time                               3608 non-null   int64
 5   Date Scene Cleared                       3608 non-null   object
 6   Manner of Collision                      3608 non-null   object
 7   Speed Limit                              3608 non-null   float64
 8   Surface Condition                        3608 non-null   object
 9   Time Scene Cleared                       3608 non-null   int64
 10  Weather Condition                        3608 non-null   object
 11  Crash_date_time                          3608 non-null   datetime64[ns]
 12  Scene Cleared DateTime                   3608 non-null   datetime64[ns]
 13  Clearance_time_minutes                   3608 non-null   float64
 14  Road Class_CITY STREET                   3608 non-null   bool
 15  Road Class_FARM TO MARKET                3608 non-null   bool
 16  Road Class_INTERSTATE                    3608 non-null   bool
 17  Road Class_NON TRAFFICWAY                3608 non-null   bool
 18  Road Class_US & STATE HIGHWAYS           3608 non-null   bool
 19  Roadway Type_2 LANE, 2 WAY               3608 non-null   bool
 20  Roadway Type_4 OR MORE LANES, DIVIDED    3608 non-null   bool
 21  Roadway Type_4 OR MORE LANES, UNDIVIDED  3608 non-null   bool
 22  Roadway Type_OTHER                       3608 non-null   bool
dtypes: bool(9), datetime64[ns](2), float64(3), int64(2), object(7)
memory usage: 454.5+ KB

# Replacing  with a one-hot vector of length 4
df = pd.get_dummies(df, columns=["Roadway Type"], prefix="RoadwayÂ Type")

df.info()

----

# Question 15
What would be an appropriate preprocessing approach for the column City. Apply it to the data frame.

a.	Replace it with a one-hot vector of length 2.

b.	Map â€œDENTONâ€ to 1 and â€œOTHERâ€ to 0.

c.	Replace it with a one-hot vector of length 1.

d.	Drop this column.

In [36]:
# drop the column
df['City'].unique()

array(['DENTON'], dtype=object)

In [37]:
df.drop(columns=['City'], inplace=True)

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 22 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Adjusted Average Daily Traffic Amount    3608 non-null   float64
 1   Crash Date                               3608 non-null   object
 2   Crash Severity                           3608 non-null   object
 3   Crash Time                               3608 non-null   int64
 4   Date Scene Cleared                       3608 non-null   object
 5   Manner of Collision                      3608 non-null   object
 6   Speed Limit                              3608 non-null   float64
 7   Surface Condition                        3608 non-null   object
 8   Time Scene Cleared                       3608 non-null   int64
 9   Weather Condition                        3608 non-null   object
 10  Crash_date_time                          3608 non-null   datetime64[ns]
 11  Scene Cleared DateTime                   3608 non-null   datetime64[ns]
 12  Clearance_time_minutes                   3608 non-null   float64
 13  Road Class_CITY STREET                   3608 non-null   bool
 14  Road Class_FARM TO MARKET                3608 non-null   bool
 15  Road Class_INTERSTATE                    3608 non-null   bool
 16  Road Class_NON TRAFFICWAY                3608 non-null   bool
 17  Road Class_US & STATE HIGHWAYS           3608 non-null   bool
 18  Roadway Type_2 LANE, 2 WAY               3608 non-null   bool
 19  Roadway Type_4 OR MORE LANES, DIVIDED    3608 non-null   bool
 20  Roadway Type_4 OR MORE LANES, UNDIVIDED  3608 non-null   bool
 21  Roadway Type_OTHER                       3608 non-null   bool
dtypes: bool(9), datetime64[ns](2), float64(3), int64(2), object(6)
memory usage: 426.3+ KB

---

# Question 16
What is the proper data transformation for the column Crash Severity. Apply your choice to the data frame.
                                      
a.	Map: K - FATAL INJURY to 5, A - SUSPECTED SERIOUS INJURY to 4, C - POSSIBLE INJURY to 3, B - SUSPECTED MINOR INJURY to 2, 99 - UNKNOWN to 1, and N - NOT INJURED to 0.
    
b.	Map: N - NOT INJURED to 5, B - SUSPECTED MINOR INJURY to 4, C - POSSIBLE INJURY to 3, 99 - UNKNOWN to 2, A - SUSPECTED SERIOUS INJURY to 1, K - FATAL INJURY to 0.
    
c.	To avoid increasing dimensionality, map N - NOT INJURED to 1 and all other categories to 0.

In [39]:
# Transforming data using Map: K - FATAL INJURY to 5, A - SUSPECTED SERIOUS INJURY to 4, C - POSSIBLE INJURY to 3, B - SUSPECTED MINOR INJURY to 2, 99 - UNKNOWN to 1, and N - NOT INJURED to 0.
mapping_severity = {
    "K - FATAL INJURY": 5,
    "A - SUSPECTED SERIOUS INJURY": 4,
    "C - POSSIBLE INJURY": 3,
    "B - SUSPECTED MINOR INJURY": 2,
    "99 - UNKNOWN": 1,
    "N - NOT INJURED": 0
}

# Applying above mapping
df["Crash Severity"] = df["Crash Severity"].map(mapping_severity)
df["Crash Severity"]

Crash ID
19468595    0
19474485    0
19474684    0
19476604    0
19476605    3
           ..
20318138    0
20323026    0
20313710    0
20313725    0
20316856    0
Name: Crash Severity, Length: 3608, dtype: int64

----

# Question 17
When examining the values in the Manner of Collision column, it becomes apparent that there are 36 unique values. As we discussed in class, it would generally be best to replace this column with a one-hot vector of length 36. However, this approach would significantly increase the dimensionality of the data frame, which could impact the overall behavior of the data points in higher dimensions. To avoid these potential issues, we will only consider the top-level manner of collision. Upon reviewing the values, it becomes clear that the description before the dash represents the top-level description. After this process, determine and apply the appropriate data transformation to the resulting column.
    
a.	Replace it with a one-hot vector of length 6.

b.	Map: â€˜SAME DIRECTIONâ€™ to 4, â€˜ANGLEâ€™ to 3, â€˜ONE MOTOR VEHICLEâ€™ to 2, â€˜OPPOSITE DIRECTIONâ€™ to 1, and â€˜OTHERâ€™ to 0.
    
c.	Map: â€˜SAME DIRECTIONâ€™ to 0, â€˜ONE MOTOR VEHICLEâ€™ to 1, â€˜ANGLEâ€™ to 2, â€˜OPPOSITE DIRECTIONâ€™ to 3, â€˜OTHERâ€™ to 4.
    
d.	Replace it with a one-hot vector of length 5.

In [40]:
# Top-level description
df["Manner of Collision"] = df["Manner of Collision"].apply(lambda x: x.split('-')[0].strip())

In [41]:
# Replacing  with a one-hot vector of length 5
df = pd.get_dummies(df, columns=["Manner of Collision"], prefix="Manner of Collision")

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 26 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Adjusted Average Daily Traffic Amount    3608 non-null   float64
 1   Crash Date                               3608 non-null   object
 2   Crash Severity                           3608 non-null   int64
 3   Crash Time                               3608 non-null   int64
 4   Date Scene Cleared                       3608 non-null   object
 5   Speed Limit                              3608 non-null   float64
 6   Surface Condition                        3608 non-null   object
 7   Time Scene Cleared                       3608 non-null   int64
 8   Weather Condition                        3608 non-null   object
 9   Crash_date_time                          3608 non-null   datetime64[ns]
 10  Scene Cleared DateTime                   3608 non-null   datetime64[ns]
 11  Clearance_time_minutes                   3608 non-null   float64
 12  Road Class_CITY STREET                   3608 non-null   bool
 13  Road Class_FARM TO MARKET                3608 non-null   bool
 14  Road Class_INTERSTATE                    3608 non-null   bool
 15  Road Class_NON TRAFFICWAY                3608 non-null   bool
 16  Road Class_US & STATE HIGHWAYS           3608 non-null   bool
 17  Roadway Type_2 LANE, 2 WAY               3608 non-null   bool
 18  Roadway Type_4 OR MORE LANES, DIVIDED    3608 non-null   bool
 19  Roadway Type_4 OR MORE LANES, UNDIVIDED  3608 non-null   bool
 20  Roadway Type_OTHER                       3608 non-null   bool
 21  Manner of Collision_ANGLE                3608 non-null   bool
 22  Manner of Collision_ONE MOTOR VEHICLE    3608 non-null   bool
 23  Manner of Collision_OPPOSITE DIRECTION   3608 non-null   bool
 24  Manner of Collision_OTHER                3608 non-null   bool
 25  Manner of Collision_SAME DIRECTION       3608 non-null   bool
dtypes: bool(14), datetime64[ns](2), float64(3), int64(3), object(4)
memory usage: 415.8+ KB

----

# Question 18
Add a new column, "Day of Week," which extracts the day name(Monday, Tuesday, ...) from the "Crash Date" column. What would be the appropriate data transformation that can be applied to this column? Apply it to the data frame.

a.	One-hot vector of length 7.

b.	Drop this column.

c.	Map to ordinal values 0 to 6.

d.	Map to ordinal values 0, to 7

In [43]:
# One-hot vector of length 7
df['Crash Date']

Crash ID
19468595    2023-04-01
19474485    2023-04-01
19474684    2023-04-01
19476604    2023-04-01
19476605    2023-04-01
               ...
20318138    2024-07-30
20323026    2024-07-30
20313710    2024-07-31
20313725    2024-07-31
20316856    2024-07-31
Name: Crash Date, Length: 3608, dtype: object

In [44]:
# Convert 'Crash Date' to datetime
df['Crash Date'] = pd.to_datetime(df['Crash Date'])

# Extract the day of the week
df['Day of Week'] = df['Crash Date'].dt.day_name()

# Apply appropriate data transformation (one-hot encoding)
df = pd.get_dummies(df, columns=['Day of Week'], prefix='Day')

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 33 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Adjusted Average Daily Traffic Amount    3608 non-null   float64
 1   Crash Date                               3608 non-null   datetime64[ns]
 2   Crash Severity                           3608 non-null   int64
 3   Crash Time                               3608 non-null   int64
 4   Date Scene Cleared                       3608 non-null   object
 5   Speed Limit                              3608 non-null   float64
 6   Surface Condition                        3608 non-null   object
 7   Time Scene Cleared                       3608 non-null   int64
 8   Weather Condition                        3608 non-null   object
 9   Crash_date_time                          3608 non-null   datetime64[ns]
 10  Scene Cleared DateTime                   3608 non-null   datetime64[ns]
 11  Clearance_time_minutes                   3608 non-null   float64
 12  Road Class_CITY STREET                   3608 non-null   bool
 13  Road Class_FARM TO MARKET                3608 non-null   bool
 14  Road Class_INTERSTATE                    3608 non-null   bool
 15  Road Class_NON TRAFFICWAY                3608 non-null   bool
 16  Road Class_US & STATE HIGHWAYS           3608 non-null   bool
 17  Roadway Type_2 LANE, 2 WAY               3608 non-null   bool
 18  Roadway Type_4 OR MORE LANES, DIVIDED    3608 non-null   bool
 19  Roadway Type_4 OR MORE LANES, UNDIVIDED  3608 non-null   bool
 20  Roadway Type_OTHER                       3608 non-null   bool
 21  Manner of Collision_ANGLE                3608 non-null   bool
 22  Manner of Collision_ONE MOTOR VEHICLE    3608 non-null   bool
 23  Manner of Collision_OPPOSITE DIRECTION   3608 non-null   bool
 24  Manner of Collision_OTHER                3608 non-null   bool
 25  Manner of Collision_SAME DIRECTION       3608 non-null   bool
 26  Day_Friday                               3608 non-null   bool
 27  Day_Monday                               3608 non-null   bool
 28  Day_Saturday                             3608 non-null   bool
 29  Day_Sunday                               3608 non-null   bool
 30  Day_Thursday                             3608 non-null   bool
 31  Day_Tuesday                              3608 non-null   bool
 32  Day_Wednesday                            3608 non-null   bool
dtypes: bool(21), datetime64[ns](3), float64(3), int64(3), object(3)
memory usage: 440.4+ KB

----

# Question 19
1.	We need to create a new column called "Time of Day" based on the values in the "Crash Time" column. The "Time of Day" column will contain the values "Morning Rush Hour", "Evening Rush Hour", and "Other". The time ranges for the morning and evening rush hours are as follows:

  o	Morning Rush Hour: 7:00 AM to 9:00 AM

  o	Evening Rush Hour: 4:00 PM to 6:00 PM

  o	Other: All other times

The next step involves transforming the "Time of Day" column appropriately. Choose and apply the correct data transformation method for this column:

a.	Map values as follows: "Morning Rush Hour" to -1, "Other" to 0, and "Evening Rush Hour" to 1.

b.	Map values as follows: "Other" to 0, "Morning Rush Hour" to 1, "Evening Rush Hour" to 2.

c.	Replace it with a one-hot vector of length 3.

d.	Map the values as follows: "Morning Rush Hour" to 0, "Evening Rush Hour" to 1, and "Other" to 2.

In [46]:
# Convert 'Crash Time' to a string format with leading zeros
df ["Crash Time"] = df["Crash Time"].astype(str).str.zfill(4)

# Define a function to categorize time of day
def categorize_time_of_day (time_str):
    hour = int(time_str) # Get the hour
    minute = int(time_str) # Get the minute

    if 700 <=  hour <= 900 : # Morning Rush Hour (7 AM to 9 AM)
        return "Morning Rush Hour"
    elif 1600 <= hour <= 1800: # Evening Rush Hour (4 PM to 6 PM)
        return "Evening Rush Hour" 
    else:
        return "Other"
# Apply the function to create the 'Time of Day' column using Replace it with a one-hot vector of length 3.
df["Time of Day"] = df["Crash Time"].apply(categorize_time_of_day)
df["Time of Day"].value_counts()

Time of Day
Other                2609
Evening Rush Hour     652
Morning Rush Hour     347
Name: count, dtype: int64

In [47]:
# Replacing  with a one-hot vector of length 3
df = pd.get_dummies(df, columns=["Time of Day"], prefix="Time of Day")

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 36 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Adjusted Average Daily Traffic Amount    3608 non-null   float64
 1   Crash Date                               3608 non-null   datetime64[ns]
 2   Crash Severity                           3608 non-null   int64
 3   Crash Time                               3608 non-null   object
 4   Date Scene Cleared                       3608 non-null   object
 5   Speed Limit                              3608 non-null   float64
 6   Surface Condition                        3608 non-null   object
 7   Time Scene Cleared                       3608 non-null   int64
 8   Weather Condition                        3608 non-null   object
 9   Crash_date_time                          3608 non-null   datetime64[ns]
 10  Scene Cleared DateTime                   3608 non-null   datetime64[ns]
 11  Clearance_time_minutes                   3608 non-null   float64
 12  Road Class_CITY STREET                   3608 non-null   bool
 13  Road Class_FARM TO MARKET                3608 non-null   bool
 14  Road Class_INTERSTATE                    3608 non-null   bool
 15  Road Class_NON TRAFFICWAY                3608 non-null   bool
 16  Road Class_US & STATE HIGHWAYS           3608 non-null   bool
 17  Roadway Type_2 LANE, 2 WAY               3608 non-null   bool
 18  Roadway Type_4 OR MORE LANES, DIVIDED    3608 non-null   bool
 19  Roadway Type_4 OR MORE LANES, UNDIVIDED  3608 non-null   bool
 20  Roadway Type_OTHER                       3608 non-null   bool
 21  Manner of Collision_ANGLE                3608 non-null   bool
 22  Manner of Collision_ONE MOTOR VEHICLE    3608 non-null   bool
 23  Manner of Collision_OPPOSITE DIRECTION   3608 non-null   bool
 24  Manner of Collision_OTHER                3608 non-null   bool
 25  Manner of Collision_SAME DIRECTION       3608 non-null   bool
 26  Day_Friday                               3608 non-null   bool
 27  Day_Monday                               3608 non-null   bool
 28  Day_Saturday                             3608 non-null   bool
 29  Day_Sunday                               3608 non-null   bool
 30  Day_Thursday                             3608 non-null   bool
 31  Day_Tuesday                              3608 non-null   bool
 32  Day_Wednesday                            3608 non-null   bool
 33  Time of Day_Evening Rush Hour            3608 non-null   bool
 34  Time of Day_Morning Rush Hour            3608 non-null   bool
 35  Time of Day_Other                        3608 non-null   bool
dtypes: bool(24), datetime64[ns](3), float64(3), int64(2), object(4)
memory usage: 451.0+ KB

----

# Question 20
When dealing with the "Surface Condition" column, we will use the same approach as previously discussed. Any categories with fewer than 50 instances will be grouped under a new category called "Other." Additionally, we will remove the numerical code preceding the condition description. For example, for "1 - DRY," we will only consider "DRY." What data transformation technique would be most suitable for this column?
                                                                                                                                                                                                                                                                                                                                                                                                                 
a. Replace it with a one-hot vector of length 8.

b. Replace it with a one-hot vector of length 3.

c. Map values to ordinal values 0 to 7.
    
d. Replace it with a one-hot vector of length 4

In [49]:
# calling the column sum
fre = df["Surface Condition"].value_counts()
fre
# Any categories with fewer than 50 instances will be grouped under a new category called "Other."
less_fre = fre[fre < 50].index
df.loc[df["Surface Condition"].isin(less_fre), "Surface Condition"] = "Other"

# Counting the updated frequency
upd_freq = df["Surface Condition"].value_counts()

# Print the updated frequency
print(upd_freq)
df[df["Surface Condition"] == "Other"]["Surface Condition"].value_counts()

# Removing the numerical code preceding the condition description
surface_map = {
    "1 - DRY": "DRY",
    "2 - WET": "WET",
    "Other": "Other"}

# Applying mapping
df["Surface Condition"] = df["Surface Condition"].map(surface_map)
df["Surface Condition"]

Surface Condition
1 - DRY    3174
2 - WET     381
Other        53
Name: count, dtype: int64

Crash ID
19468595    DRY
19474485    DRY
19474684    DRY
19476604    DRY
19476605    DRY
           ...
20318138    DRY
20323026    DRY
20313710    DRY
20313725    DRY
20316856    DRY
Name: Surface Condition, Length: 3608, dtype: object

In [50]:
# Replacing it with a one-hot vector of length 3
df = pd.get_dummies(df, columns = ["Surface Condition"], prefix = "Surface Condition")

In [51]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 38 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Adjusted Average Daily Traffic Amount    3608 non-null   float64
 1   Crash Date                               3608 non-null   datetime64[ns]
 2   Crash Severity                           3608 non-null   int64
 3   Crash Time                               3608 non-null   object
 4   Date Scene Cleared                       3608 non-null   object
 5   Speed Limit                              3608 non-null   float64
 6   Time Scene Cleared                       3608 non-null   int64
 7   Weather Condition                        3608 non-null   object
 8   Crash_date_time                          3608 non-null   datetime64[ns]
 9   Scene Cleared DateTime                   3608 non-null   datetime64[ns]
 10  Clearance_time_minutes                   3608 non-null   float64
 11  Road Class_CITY STREET                   3608 non-null   bool
 12  Road Class_FARM TO MARKET                3608 non-null   bool
 13  Road Class_INTERSTATE                    3608 non-null   bool
 14  Road Class_NON TRAFFICWAY                3608 non-null   bool
 15  Road Class_US & STATE HIGHWAYS           3608 non-null   bool
 16  Roadway Type_2 LANE, 2 WAY               3608 non-null   bool
 17  Roadway Type_4 OR MORE LANES, DIVIDED    3608 non-null   bool
 18  Roadway Type_4 OR MORE LANES, UNDIVIDED  3608 non-null   bool
 19  Roadway Type_OTHER                       3608 non-null   bool
 20  Manner of Collision_ANGLE                3608 non-null   bool
 21  Manner of Collision_ONE MOTOR VEHICLE    3608 non-null   bool
 22  Manner of Collision_OPPOSITE DIRECTION   3608 non-null   bool
 23  Manner of Collision_OTHER                3608 non-null   bool
 24  Manner of Collision_SAME DIRECTION       3608 non-null   bool
 25  Day_Friday                               3608 non-null   bool
 26  Day_Monday                               3608 non-null   bool
 27  Day_Saturday                             3608 non-null   bool
 28  Day_Sunday                               3608 non-null   bool
 29  Day_Thursday                             3608 non-null   bool
 30  Day_Tuesday                              3608 non-null   bool
 31  Day_Wednesday                            3608 non-null   bool
 32  Time of Day_Evening Rush Hour            3608 non-null   bool
 33  Time of Day_Morning Rush Hour            3608 non-null   bool
 34  Time of Day_Other                        3608 non-null   bool
 35  Surface Condition_DRY                    3608 non-null   bool
 36  Surface Condition_Other                  3608 non-null   bool
 37  Surface Condition_WET                    3608 non-null   bool
dtypes: bool(27), datetime64[ns](3), float64(3), int64(2), object(3)
memory usage: 433.4+ KB

----

# Question 21
Given our previous discussion, we need to apply the following logic to the â€œWeather Conditionâ€ column: if a category has fewer than 50 instances, it will be grouped under the category â€œOTHER.â€ Additionally, we should remove the numerical code from the condition description. For instance, for â€œ1 - CLEAR,â€ we should only consider â€œCLEAR.â€ With this in mind, what would be the most effective data transformation technique for this column?

a. Map values according to their frequencies in that column to ordinal values 0 to 3.
    
b. Replace it with a one-hot vector of length 8.

c. Map values according to their frequencies in that column to ordinal values 1 to 8.
    
d. Replace it with a one-hot vector of length 4

In [52]:
# Replace it with a one-hot vector of length 4.
df['Weather Condition'].value_counts()

Weather Condition
1 - CLEAR                            2879
2 - CLOUDY                            400
3 - RAIN                              278
99 - UNKNOWN                           40
6 - FOG                                 5
4 - SLEET/HAIL                          2
5 - SNOW                                2
98 - OTHER (EXPLAIN IN NARRATIVE)       2
Name: count, dtype: int64

In [53]:
df['Weather Condition'] = df['Weather Condition'].str.split(' - ').str[1]

In [54]:
# Count the occurrences
weather_condition_counts = df['Weather Condition'].value_counts()

def categorize_weather_condition(condition):
    if weather_condition_counts[condition] < 50:
        return 'OTHER'
    return condition
    
# Apply the function to Weather Condition column
df['Weather Condition'] = df['Weather Condition'].apply(categorize_weather_condition)

In [55]:
df['Weather Condition'].value_counts()

Weather Condition
CLEAR     2879
CLOUDY     400
RAIN       278
OTHER       51
Name: count, dtype: int64

In [56]:
# Apply one-hot encoding
df = pd.get_dummies(df, columns=['Weather Condition'], prefix='Weather Condition')

In [57]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 41 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Adjusted Average Daily Traffic Amount    3608 non-null   float64
 1   Crash Date                               3608 non-null   datetime64[ns]
 2   Crash Severity                           3608 non-null   int64
 3   Crash Time                               3608 non-null   object
 4   Date Scene Cleared                       3608 non-null   object
 5   Speed Limit                              3608 non-null   float64
 6   Time Scene Cleared                       3608 non-null   int64
 7   Crash_date_time                          3608 non-null   datetime64[ns]
 8   Scene Cleared DateTime                   3608 non-null   datetime64[ns]
 9   Clearance_time_minutes                   3608 non-null   float64
 10  Road Class_CITY STREET                   3608 non-null   bool
 11  Road Class_FARM TO MARKET                3608 non-null   bool
 12  Road Class_INTERSTATE                    3608 non-null   bool
 13  Road Class_NON TRAFFICWAY                3608 non-null   bool
 14  Road Class_US & STATE HIGHWAYS           3608 non-null   bool
 15  Roadway Type_2 LANE, 2 WAY               3608 non-null   bool
 16  Roadway Type_4 OR MORE LANES, DIVIDED    3608 non-null   bool
 17  Roadway Type_4 OR MORE LANES, UNDIVIDED  3608 non-null   bool
 18  Roadway Type_OTHER                       3608 non-null   bool
 19  Manner of Collision_ANGLE                3608 non-null   bool
 20  Manner of Collision_ONE MOTOR VEHICLE    3608 non-null   bool
 21  Manner of Collision_OPPOSITE DIRECTION   3608 non-null   bool
 22  Manner of Collision_OTHER                3608 non-null   bool
 23  Manner of Collision_SAME DIRECTION       3608 non-null   bool
 24  Day_Friday                               3608 non-null   bool
 25  Day_Monday                               3608 non-null   bool
 26  Day_Saturday                             3608 non-null   bool
 27  Day_Sunday                               3608 non-null   bool
 28  Day_Thursday                             3608 non-null   bool
 29  Day_Tuesday                              3608 non-null   bool
 30  Day_Wednesday                            3608 non-null   bool
 31  Time of Day_Evening Rush Hour            3608 non-null   bool
 32  Time of Day_Morning Rush Hour            3608 non-null   bool
 33  Time of Day_Other                        3608 non-null   bool
 34  Surface Condition_DRY                    3608 non-null   bool
 35  Surface Condition_Other                  3608 non-null   bool
 36  Surface Condition_WET                    3608 non-null   bool
 37  Weather Condition_CLEAR                  3608 non-null   bool
 38  Weather Condition_CLOUDY                 3608 non-null   bool
 39  Weather Condition_OTHER                  3608 non-null   bool
 40  Weather Condition_RAIN                   3608 non-null   bool
dtypes: bool(31), datetime64[ns](3), float64(3), int64(2), object(2)
memory usage: 419.3+ KB

---

# Question 22
Call the "info" function on your data frame. Ensure that all the columns, except "Crash Date", "Crash Time", "Time Scene Cleared", "Date Scene Cleared", "Crash DateTime", and "Scene Cleared DateTime", are of numerical data types (int, float, or bool). If not, please review the previous lab questions to ensure all tasks have been completed. Keep in mind that the order of implementation is important for successfully completing this Lab. Next, drop the four mentioned columns from the data frame. Then, provide the number of columns in the remaining data frame.

In [58]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 41 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Adjusted Average Daily Traffic Amount    3608 non-null   float64
 1   Crash Date                               3608 non-null   datetime64[ns]
 2   Crash Severity                           3608 non-null   int64
 3   Crash Time                               3608 non-null   object
 4   Date Scene Cleared                       3608 non-null   object
 5   Speed Limit                              3608 non-null   float64
 6   Time Scene Cleared                       3608 non-null   int64
 7   Crash_date_time                          3608 non-null   datetime64[ns]
 8   Scene Cleared DateTime                   3608 non-null   datetime64[ns]
 9   Clearance_time_minutes                   3608 non-null   float64
 10  Road Class_CITY STREET                   3608 non-null   bool
 11  Road Class_FARM TO MARKET                3608 non-null   bool
 12  Road Class_INTERSTATE                    3608 non-null   bool
 13  Road Class_NON TRAFFICWAY                3608 non-null   bool
 14  Road Class_US & STATE HIGHWAYS           3608 non-null   bool
 15  Roadway Type_2 LANE, 2 WAY               3608 non-null   bool
 16  Roadway Type_4 OR MORE LANES, DIVIDED    3608 non-null   bool
 17  Roadway Type_4 OR MORE LANES, UNDIVIDED  3608 non-null   bool
 18  Roadway Type_OTHER                       3608 non-null   bool
 19  Manner of Collision_ANGLE                3608 non-null   bool
 20  Manner of Collision_ONE MOTOR VEHICLE    3608 non-null   bool
 21  Manner of Collision_OPPOSITE DIRECTION   3608 non-null   bool
 22  Manner of Collision_OTHER                3608 non-null   bool
 23  Manner of Collision_SAME DIRECTION       3608 non-null   bool
 24  Day_Friday                               3608 non-null   bool
 25  Day_Monday                               3608 non-null   bool
 26  Day_Saturday                             3608 non-null   bool
 27  Day_Sunday                               3608 non-null   bool
 28  Day_Thursday                             3608 non-null   bool
 29  Day_Tuesday                              3608 non-null   bool
 30  Day_Wednesday                            3608 non-null   bool
 31  Time of Day_Evening Rush Hour            3608 non-null   bool
 32  Time of Day_Morning Rush Hour            3608 non-null   bool
 33  Time of Day_Other                        3608 non-null   bool
 34  Surface Condition_DRY                    3608 non-null   bool
 35  Surface Condition_Other                  3608 non-null   bool
 36  Surface Condition_WET                    3608 non-null   bool
 37  Weather Condition_CLEAR                  3608 non-null   bool
 38  Weather Condition_CLOUDY                 3608 non-null   bool
 39  Weather Condition_OTHER                  3608 non-null   bool
 40  Weather Condition_RAIN                   3608 non-null   bool
dtypes: bool(31), datetime64[ns](3), float64(3), int64(2), object(2)
memory usage: 419.3+ KB

In [59]:
# Dropping columns
df.drop(columns=["Crash Date", "Crash Time", "Time Scene Cleared", "Date Scene Cleared", "Crash_date_time", "Scene Cleared DateTime"], inplace = True)

In [60]:
# New shape of data frame
upd_shape_dataframe = df.shape[1]
print(f"Updated new number of columns {upd_shape_dataframe}")

Updated new number of columns 35

----

# Question 23
Upload the .ipynb file you used to answer the questions in this Lab. The file name should follow the following naming convention: Lab1_Lastname_Firstname.ipynb.

---

# LAB 2

In [61]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in c:\python312\lib\site-packages (1.5.2)
Requirement already satisfied: numpy>=1.19.5 in c:\python312\lib\site-packages (from scikit-learn) (2.1.0)
Requirement already satisfied: scipy>=1.6.0 in c:\python312\lib\site-packages (from scikit-learn) (1.14.1)
Requirement already satisfied: joblib>=1.2.0 in c:\python312\lib\site-packages (from scikit-learn) (1.4.2)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\python312\lib\site-packages (from scikit-learn) (3.5.0)

In [62]:
!pip install --upgrade scipy

Requirement already satisfied: scipy in c:\python312\lib\site-packages (1.14.1)
Requirement already satisfied: numpy<2.3,>=1.23.5 in c:\python312\lib\site-packages (from scipy) (2.1.0)

# Question 1
You should continue working on the data frame computed in Lab 1. The ultimate goal of this project is to predict time to clear the scene after each accident. Column Clearance Time (Minutes) is the target column; the rest of the features are considered this projectâ€™s feature set. From now on, we refer to the feature set as X and the target column as y. What is the median of column Speed Limit in X?

In [63]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 35 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Adjusted Average Daily Traffic Amount    3608 non-null   float64
 1   Crash Severity                           3608 non-null   int64
 2   Speed Limit                              3608 non-null   float64
 3   Clearance_time_minutes                   3608 non-null   float64
 4   Road Class_CITY STREET                   3608 non-null   bool
 5   Road Class_FARM TO MARKET                3608 non-null   bool
 6   Road Class_INTERSTATE                    3608 non-null   bool
 7   Road Class_NON TRAFFICWAY                3608 non-null   bool
 8   Road Class_US & STATE HIGHWAYS           3608 non-null   bool
 9   Roadway Type_2 LANE, 2 WAY               3608 non-null   bool
 10  Roadway Type_4 OR MORE LANES, DIVIDED    3608 non-null   bool
 11  Roadway Type_4 OR MORE LANES, UNDIVIDED  3608 non-null   bool
 12  Roadway Type_OTHER                       3608 non-null   bool
 13  Manner of Collision_ANGLE                3608 non-null   bool
 14  Manner of Collision_ONE MOTOR VEHICLE    3608 non-null   bool
 15  Manner of Collision_OPPOSITE DIRECTION   3608 non-null   bool
 16  Manner of Collision_OTHER                3608 non-null   bool
 17  Manner of Collision_SAME DIRECTION       3608 non-null   bool
 18  Day_Friday                               3608 non-null   bool
 19  Day_Monday                               3608 non-null   bool
 20  Day_Saturday                             3608 non-null   bool
 21  Day_Sunday                               3608 non-null   bool
 22  Day_Thursday                             3608 non-null   bool
 23  Day_Tuesday                              3608 non-null   bool
 24  Day_Wednesday                            3608 non-null   bool
 25  Time of Day_Evening Rush Hour            3608 non-null   bool
 26  Time of Day_Morning Rush Hour            3608 non-null   bool
 27  Time of Day_Other                        3608 non-null   bool
 28  Surface Condition_DRY                    3608 non-null   bool
 29  Surface Condition_Other                  3608 non-null   bool
 30  Surface Condition_WET                    3608 non-null   bool
 31  Weather Condition_CLEAR                  3608 non-null   bool
 32  Weather Condition_CLOUDY                 3608 non-null   bool
 33  Weather Condition_OTHER                  3608 non-null   bool
 34  Weather Condition_RAIN                   3608 non-null   bool
dtypes: bool(31), float64(3), int64(1)
memory usage: 250.2 KB

In [64]:
# Column Clearance Time (Minutes) is the target column represented as "y"; the rest of the features are considered this projectâ€™s feature set represented as "X". """
X = df.drop("Clearance_time_minutes", axis = 1)
y = df["Clearance_time_minutes"]

In [65]:
# calculating median of column Speed Limit in X
Speed_Limit_median = X["Speed Limit"].median()
print(f"The median of column Speed Limit in X is : {Speed_Limit_median}")

The median of column Speed Limit in X is : 45.0

# Question 2
As we discussed in class, scaling is essential for ensuring that each feature contributes equally to the clustering process, improving the performance and interpretability of the clustering algorithm. Scaling ensures that each feature contributes equally to the distance calculations. Hence, we will start with scaling the feature set with MinMaxScaler. Store the scaled dataset in a data frame named X_scaled with the same column names as X. What is the median of column Speed Limit in X_scaled? Enter the answer with two digits after the decimal point.

In [66]:
# Scale the datset
from sklearn.preprocessing import MinMaxScaler

X = df.drop("Clearance_time_minutes", axis = 1)
y = df["Clearance_time_minutes"]

scaler = MinMaxScaler()
scaler.fit(X)
X_scaled = scaler.transform(X)

# Make a dataframe out of the scaled values
X_scaled = pd.DataFrame(X_scaled, columns = X.columns)

In [67]:
# Calculating median of column Speed Limit in X_scaled with two digits after the decimal point
Speed_Limit_scaled_median = X_scaled["Speed Limit"].median()
print(f"The median of column Speed Limit in X_scaled is : {Speed_Limit_scaled_median:.2f}")

The median of column Speed Limit in X_scaled is : 0.57

# Question 3
Which integer value of distance_threshold results in 6 clusters in an agglomerative clustering? Note that n_clusters should be None and you do not need to change the default value of other model parameters.

In [68]:
# Build the clustering model
# n_clusters = None and linkage = "ward" would be default

from sklearn.cluster import AgglomerativeClustering

model = AgglomerativeClustering(distance_threshold = 27, n_clusters = None, linkage = "ward")

labels = model.fit(X_scaled)

# The number of clusters found by the algorithm.
model.n_clusters_
print(f" Number of clusters: {model.n_clusters_}")
print(f" The integer value of distance_threshold results in 6 clusters in an agglomerative clustering is : 27")

 Number of clusters: 6
 The integer value of distance_threshold results in 6 clusters in an agglomerative clustering is : 27

# Question 4
Train an Agglomerative clustering model with all default parameters and distance_threshold computed in the previous question. 

Agglomerative Clustering is a deterministic algorithm, meaning the clustering results (i.e., which points belong to which cluster) are consistent across runs. However, the numeric labels assigned to clusters can vary between runs because there is no inherent order or meaning to these labels. As a result, even though the clusters themselves remain the same, the labels might differ arbitrarily. Unfortunately, there is no parameter in the AgglomerativeClustering model to make the label assignment static. To achieve consistent labeling, you can apply a post-processing step, such as sorting clusters by some statistic (like the mean or median of the points in the cluster), and then assigning labels in a consistent order based on that.

To achieve this, start by creating a new column "agg" in X to store the cluster labels from the trained Agglomerative Clustering model (model), which was fitted on X_scaled:

X['agg'] = model.labels_
Next, we group the data by "agg" and compute the mean of "Speed Limit" for each cluster, then sort the clusters based on this mean:

cluster_means = X.groupby('agg').mean().sort_values(by='Speed Limit')
Finally, we assign new consistent labels to each cluster by mapping the old labels to new ones, based on the sorted cluster means:

label_mapping = {old_label: new_label for new_label, old_label in enumerate(cluster_means.index)}
X['agg'] = X['agg'].map(label_mapping)

X["agg"] = model.fit_predict(X_scaled)

cluster_means = X.groupby("agg")["Speed Limit"].mean()
print(cluster_means)

agg
0    32.094878
1    60.874126
2    49.546569
3    43.001443
4    52.916667
5    43.366142
Name: Speed Limit, dtype: float64

In [69]:
X['agg'] = model.labels_

cluster_means = X.groupby('agg').mean().sort_values(by='Speed Limit')

label_mapping = {old_label: new_label for new_label, old_label in enumerate(cluster_means.index)}
X['agg'] = X['agg'].map(label_mapping)

In [70]:
cluster_size = X['agg'].value_counts().sort_index()
print(cluster_size)

agg
0    1191
1     693
2     254
3     408
4     204
5     858
Name: count, dtype: int64

label_mapping = {old_label: new_label for new_label, old_label in enumerate(cluster_means.index)}
X["agg"] = X["agg"].map(label_mapping)

cluster_sizes = X['agg'].value_counts().sort_index()
print(cluster_sizes)

# Question 5
Arrange the clusters in ascending order based on the median of Adjusted Average Daily Traffic Amount :

In [71]:
cluster_means= X.groupby("agg")["Adjusted Average Daily Traffic Amount"].median().sort_values()
print(cluster_means)

agg
2     8562.0
0    14489.0
1    25998.0
3    27522.0
4    28551.0
5    83664.0
Name: Adjusted Average Daily Traffic Amount, dtype: float64

# Question 6
Mark all the correct answers for Cluster 0:

In [72]:
cluster0 = X[X['agg'] == 0]

In [73]:
len(cluster0)

1191

In [74]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3608 entries, 19468595 to 20316856
Data columns (total 35 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Adjusted Average Daily Traffic Amount    3608 non-null   float64
 1   Crash Severity                           3608 non-null   int64
 2   Speed Limit                              3608 non-null   float64
 3   Clearance_time_minutes                   3608 non-null   float64
 4   Road Class_CITY STREET                   3608 non-null   bool
 5   Road Class_FARM TO MARKET                3608 non-null   bool
 6   Road Class_INTERSTATE                    3608 non-null   bool
 7   Road Class_NON TRAFFICWAY                3608 non-null   bool
 8   Road Class_US & STATE HIGHWAYS           3608 non-null   bool
 9   Roadway Type_2 LANE, 2 WAY               3608 non-null   bool
 10  Roadway Type_4 OR MORE LANES, DIVIDED    3608 non-null   bool
 11  Roadway Type_4 OR MORE LANES, UNDIVIDED  3608 non-null   bool
 12  Roadway Type_OTHER                       3608 non-null   bool
 13  Manner of Collision_ANGLE                3608 non-null   bool
 14  Manner of Collision_ONE MOTOR VEHICLE    3608 non-null   bool
 15  Manner of Collision_OPPOSITE DIRECTION   3608 non-null   bool
 16  Manner of Collision_OTHER                3608 non-null   bool
 17  Manner of Collision_SAME DIRECTION       3608 non-null   bool
 18  Day_Friday                               3608 non-null   bool
 19  Day_Monday                               3608 non-null   bool
 20  Day_Saturday                             3608 non-null   bool
 21  Day_Sunday                               3608 non-null   bool
 22  Day_Thursday                             3608 non-null   bool
 23  Day_Tuesday                              3608 non-null   bool
 24  Day_Wednesday                            3608 non-null   bool
 25  Time of Day_Evening Rush Hour            3608 non-null   bool
 26  Time of Day_Morning Rush Hour            3608 non-null   bool
 27  Time of Day_Other                        3608 non-null   bool
 28  Surface Condition_DRY                    3608 non-null   bool
 29  Surface Condition_Other                  3608 non-null   bool
 30  Surface Condition_WET                    3608 non-null   bool
 31  Weather Condition_CLEAR                  3608 non-null   bool
 32  Weather Condition_CLOUDY                 3608 non-null   bool
 33  Weather Condition_OTHER                  3608 non-null   bool
 34  Weather Condition_RAIN                   3608 non-null   bool
dtypes: bool(31), float64(3), int64(1)
memory usage: 250.2 KB

In [75]:
# statement 1: Cluster 0 has the lowest average speed limit among all clusters. True
avg_speed_limit = cluster0['Speed Limit'].mean()
all_avg_speed_limits = X.groupby('agg')['Speed Limit'].mean()
statement1 = avg_speed_limit == all_avg_speed_limits.min()
statement1
#print(avg_speed_limit , all_avg_speed_limits)

np.True_

In [76]:
# Explanation1
avg_speed_limit = cluster0['Speed Limit'].mean()

# Explanation1
all_avg_speed_limits = X.groupby('agg')['Speed Limit'].mean()
print(all_avg_speed_limits,avg_speed_limit)

agg
0    32.094878
1    43.001443
2    43.366142
3    49.546569
4    52.916667
5    60.874126
Name: Speed Limit, dtype: float64 32.09487825356843

In [77]:
# statement 2: Majority of roads in Cluster 0 are classified as â€œCity Streetâ€ True
city_street_count = X.groupby('agg')['Road Class_CITY STREET'].sum()
city_street_count

agg
0    863
1     43
2     12
3    102
4      0
5      0
Name: Road Class_CITY STREET, dtype: int64

In [78]:
Cluster0_city_street = 863
Total_size_Cluster0 = 1191
percent_CITY_STREET = (Cluster0_city_street/Total_size_Cluster0)*100
print(f"Precent of City Street Roads in Cluster 0 : {percent_CITY_STREET:.2f}")

Precent of City Street Roads in Cluster 0 : 72.46

In [79]:
# statement 3: Cluster 0 has the lowest â€œUS & State Highwaysâ€ number in this dataset. False
us_state_highways_count = cluster0['Road Class_US & STATE HIGHWAYS'].sum()
all_us_state_highways_counts = X.groupby('agg')['Road Class_US & STATE HIGHWAYS'].sum()
statement3 = us_state_highways_count == all_us_state_highways_counts.min()
statement3

np.False_

In [80]:
# EXplanation3:
us_state_highways_count = cluster0['Road Class_US & STATE HIGHWAYS'].sum()


all_us_state_highways_counts = X.groupby('agg')['Road Class_US & STATE HIGHWAYS'].sum()
print(all_us_state_highways_counts, us_state_highways_count)

agg
0     37
1    645
2     29
3     54
4     96
5      0
Name: Road Class_US & STATE HIGHWAYS, dtype: int64 37

In [81]:
# Statement 4: Most of the roads in Cluster 0 are â€œ2 LANE, 2 WAYâ€ False
two_lane_count = X.groupby('agg')['Roadway Type_2 LANE, 2 WAY'].sum()
two_lane_count

agg
0      4
1     17
2    126
3     23
4     16
5      0
Name: Roadway Type_2 LANE, 2 WAY, dtype: int64

In [82]:
#Explanation:
two_lane_count = cluster0['Roadway Type_2 LANE, 2 WAY'].sum()
divided = cluster0["Roadway Type_4 OR MORE LANES, DIVIDED"].sum()
undivided = cluster0["Roadway Type_4 OR MORE LANES, UNDIVIDED"].sum()
other = cluster0["Roadway Type_OTHER"].sum()
print(two_lane_count, divided, undivided, other)

4 16 6 1165

In [83]:
# statement 5:  Most of the accidents in this cluster are recorded with the manner of collision as â€œOPPOSITE DIRECTIONâ€ False
opposite_direction_count = cluster0['Manner of Collision_OPPOSITE DIRECTION'].sum()
statement5 = opposite_direction_count > (len(cluster0) / 2)
statement5

np.False_

In [84]:
opposite_direction_count = cluster0['Manner of Collision_OPPOSITE DIRECTION'].sum()
one_motor = cluster0['Manner of Collision_ONE MOTOR VEHICLE'].sum()
same_direction = cluster0['Manner of Collision_SAME DIRECTION'].sum()
angle = cluster0['Manner of Collision_ANGLE'].sum()
other = cluster0['Manner of Collision_OTHER'].sum()
print(opposite_direction_count, one_motor, same_direction, angle, other)

129 403 276 362 21

In [85]:
# statement 6 : Accidents recorded in Cluster 0 mostly happen on Friday. True
mon_accidents = cluster0[cluster0['Day_Monday']]
print(len(mon_accidents))
tue_accidents = cluster0[cluster0['Day_Tuesday']]
print(len(tue_accidents))
wed_accidents = cluster0[cluster0['Day_Wednesday']]
print(len(wed_accidents))
thu_accidents = cluster0[cluster0['Day_Thursday']]
print(len(thu_accidents))
friday_accidents = cluster0[cluster0['Day_Friday']]
print(len(friday_accidents))
sat_accidents = cluster0[cluster0['Day_Saturday']]
print(len(sat_accidents))
sun_accidents = cluster0[cluster0['Day_Sunday']]
print(len(sun_accidents))

175
180
192
154
200
166
124

In [86]:
# statement 7 : Most of the accidents recorded in Cluster 0 happened in times other than morning and afternoon rush hours. True
Morning = X.groupby('agg')['Time of Day_Morning Rush Hour'].sum()
print(Morning)

Evening = X.groupby('agg')['Time of Day_Evening Rush Hour'].sum()
print(Evening)

Other = X.groupby('agg')['Time of Day_Other'].sum()
print(Other)

agg
0    92
1    87
2    20
3    29
4    34
5    85
Name: Time of Day_Morning Rush Hour, dtype: int64
agg
0    217
1    123
2     34
3     54
4     31
5    193
Name: Time of Day_Evening Rush Hour, dtype: int64
agg
0    882
1    483
2    200
3    325
4    139
5    580
Name: Time of Day_Other, dtype: int64

In [87]:
# Explanation7:
morning = cluster0['Time of Day_Morning Rush Hour'].sum()
evening = cluster0["Time of Day_Evening Rush Hour"].sum()
other = cluster0["Time of Day_Other"].sum()
print(morning, evening, other)

92 217 882

# Question 7
Mark all the correct answers for Cluster 1:

In [88]:

cluster1 = X[X['agg'] == 1]

In [89]:
len(cluster1)

693

In [90]:
# Statement 1: Cluster 1 has the highest â€œAdjusted Average Daily Traffic Amountâ€ compared to other clusters. False
adjusted_traffic_amount = cluster1['Adjusted Average Daily Traffic Amount'].mean()
all_avg_traffic_amounts = X.groupby('agg')['Adjusted Average Daily Traffic Amount'].mean()
statement1 = adjusted_traffic_amount == all_avg_traffic_amounts.max()
statement1

np.False_

In [91]:
# Explanation1:
adjusted_traffic_amount = cluster1['Adjusted Average Daily Traffic Amount'].mean()


all_avg_traffic_amounts = X.groupby('agg')['Adjusted Average Daily Traffic Amount'].mean()
print(all_avg_traffic_amounts, adjusted_traffic_amount)

agg
0    14656.614610
1    23402.756133
2    10311.078740
3    46181.674020
4    45013.897059
5    77387.968531
Name: Adjusted Average Daily Traffic Amount, dtype: float64 23402.756132756134

In [92]:
# Statement 2: Cluster 1 has the highest average â€œSpeed Limitâ€ compared to other clusters. False
avg_speed_limit1 = cluster1['Speed Limit'].mean()
all_avg_speed_limits1 = X.groupby('agg')['Speed Limit'].mean()
statement2 = avg_speed_limit1 == all_avg_speed_limits1.max()
statement2

np.False_

In [93]:
# Explanation2
avg_speed_limit1 = cluster1['Speed Limit'].mean()


all_avg_speed_limits1 = X.groupby('agg')['Speed Limit'].mean()
print(all_avg_speed_limits1, avg_speed_limit1)

agg
0    32.094878
1    43.001443
2    43.366142
3    49.546569
4    52.916667
5    60.874126
Name: Speed Limit, dtype: float64 43.001443001443

In [94]:
# Statement 3: None of the accidents recorded in Cluster 1 occurred on a road classified as â€œNON TRAFFICWAYâ€ True
statement3 = (cluster1['Road Class_NON TRAFFICWAY'].sum() == 0)
statement3

np.True_

In [95]:
# Explanation3:
city_street_count1 = cluster1['Road Class_CITY STREET'].sum()
farm_market1 = cluster1['Road Class_FARM TO MARKET'].sum()
interstate1 = cluster1['Road Class_INTERSTATE'].sum()
non_trafficway1 = cluster1['Road Class_NON TRAFFICWAY'].sum()
US_state1 = cluster1['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count1, farm_market1, interstate1, non_trafficway1, US_state1)

43 5 0 0 645

In [96]:
# Statement 4: None of the accidents recorded in Cluster 1 occurred on â€œInterstateâ€ road class. True
statement4 = (cluster1['Road Class_INTERSTATE'].sum() == 0)
statement4

np.True_

In [97]:
# Explanation4:
city_street_count1 = cluster1['Road Class_CITY STREET'].sum()
farm_market1 = cluster1['Road Class_FARM TO MARKET'].sum()
interstate1 = cluster1['Road Class_INTERSTATE'].sum()
non_trafficway1 = cluster1['Road Class_NON TRAFFICWAY'].sum()
US_state1 = cluster1['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count1, farm_market1, interstate1, non_trafficway1, US_state1)

43 5 0 0 645

In [98]:
# Statement 5: Most of the accidents in Cluster 1 occurred on roadways classified as â€œ4 OR MORE LANES, UNDIVIDED.â€ False
four_or_more_lanes_count1 = cluster1['Roadway Type_4 OR MORE LANES, UNDIVIDED'].sum()
statement5= (four_or_more_lanes_count1 > len(cluster1) / 2)
statement5

np.False_

In [99]:
#Explanation5:
two_lane_count1 = cluster1['Roadway Type_2 LANE, 2 WAY'].sum()
divided1 = cluster1["Roadway Type_4 OR MORE LANES, DIVIDED"].sum()
undivided1 = cluster1["Roadway Type_4 OR MORE LANES, UNDIVIDED"].sum()
other1 = cluster1["Roadway Type_OTHER"].sum()
print(two_lane_count1, divided1, undivided1, other1)

17 493 176 7

In [100]:
# Statement 6: All accidents in Cluster 1 involve collisions in â€œSame direction,â€ â€œOpposite direction,â€ â€œOne motor vehicle,â€ or â€œangle.â€ False
collisions_count = cluster1[
    cluster1['Manner of Collision_SAME DIRECTION'] |
    cluster1['Manner of Collision_OPPOSITE DIRECTION'] |
    cluster1['Manner of Collision_ONE MOTOR VEHICLE'] |
    cluster1['Manner of Collision_ANGLE']
].shape[0]
statement6 = (collisions_count == len(cluster1))
statement6

False

In [101]:
# Explanation6:
opposite_direction_count1 = cluster1['Manner of Collision_OPPOSITE DIRECTION'].sum()
one_motor1 = cluster1['Manner of Collision_ONE MOTOR VEHICLE'].sum()
same_direction1 = cluster1['Manner of Collision_SAME DIRECTION'].sum()
angle1 = cluster1['Manner of Collision_ANGLE'].sum()
other1 = cluster1['Manner of Collision_OTHER'].sum()
print(opposite_direction_count1, one_motor1, same_direction1, angle1, other1)

159 50 296 187 1

In [102]:
# Statement 7: The majority of the accidents in Cluster 1 occurred on Saturdays. False
Cluster1_size = 693
Saturday_cluster_1 = 82
percent = (Saturday_cluster_1/Cluster1_size)*100
print(f"Precent of Saturdays in Cluster 1 : {percent:.2f}")

Precent of Saturdays in Cluster 1 : 11.83

In [103]:
# EXplanation7:
mon_accidents1 = cluster1[cluster1['Day_Monday']]
print(len(mon_accidents1))
tue_accidents1 = cluster1[cluster1['Day_Tuesday']]
print(len(tue_accidents1))
wed_accidents1 = cluster1[cluster1['Day_Wednesday']]
print(len(wed_accidents1))
thu_accidents1 = cluster1[cluster1['Day_Thursday']]
print(len(thu_accidents1))
friday_accidents1 = cluster1[cluster1['Day_Friday']]
print(len(friday_accidents1))
sat_accidents1 = cluster1[cluster1['Day_Saturday']]
print(len(sat_accidents1))
sun_accidents1 = cluster1[cluster1['Day_Sunday']]
print(len(sun_accidents1))

105
123
116
97
111
82
59

In [104]:
# Statement 8: There are more accidents during the â€œMorning Rush Hourâ€ than the â€œEvening Rush Hourâ€ in Cluster 1. False
morning_rush_hour_count1 = cluster1['Time of Day_Morning Rush Hour'].sum()
evening_rush_hour_count1 = cluster1['Time of Day_Evening Rush Hour'].sum()
statement8 = (morning_rush_hour_count1 > evening_rush_hour_count1)
statement8

np.False_

In [105]:
# Explanation8:
morning1 = cluster1['Time of Day_Morning Rush Hour'].sum()
evening1 = cluster1["Time of Day_Evening Rush Hour"].sum()
other1 = cluster1["Time of Day_Other"].sum()
print(morning1, evening1, other1)

87 123 483

# Question 8
Mark all the correct answers for Cluster 2:

In [106]:

cluster2 = X[X['agg'] == 2]

In [107]:
len(cluster2)

254

In [108]:
# Statement 1: Cluster 2 has the lowest average â€œAdjusted Average Daily Traffic Amountâ€ compared to other clusters. True
avg_traffic_amount = cluster2['Adjusted Average Daily Traffic Amount'].mean()
all_avg_traffic_amounts = X.groupby('agg')['Adjusted Average Daily Traffic Amount'].mean()
statement1 = avg_traffic_amount == all_avg_traffic_amounts.min()
statement1

np.True_

In [109]:
# Explanation1:
all_avg_traffic_amounts = X.groupby('agg')['Adjusted Average Daily Traffic Amount'].mean()
all_avg_traffic_amounts

agg
0    14656.614610
1    23402.756133
2    10311.078740
3    46181.674020
4    45013.897059
5    77387.968531
Name: Adjusted Average Daily Traffic Amount, dtype: float64

In [110]:
# Statement2: Cluster 2 has the lowest average â€œSpeed Limitâ€ compared to other clusters. False
avg_speed_limit2 = cluster2['Speed Limit'].mean()
all_avg_speed_limits2 = X.groupby('agg')['Speed Limit'].mean()
statement2 = avg_speed_limit2 == all_avg_speed_limits2.min()
statement2

np.False_

In [111]:
# Explanation2
all_avg_speed_limits2 = X.groupby('agg')['Speed Limit'].mean()
all_avg_speed_limits2

agg
0    32.094878
1    43.001443
2    43.366142
3    49.546569
4    52.916667
5    60.874126
Name: Speed Limit, dtype: float64

In [112]:
# Statement 3: None of the accidents recorded in Cluster 2 occurred on a road classified as â€œNON TRAFFICWAYâ€. True
statement3= (cluster2['Road Class_NON TRAFFICWAY'].sum() == 0)
statement3

np.True_

In [113]:
# Explanation3:
city_street_count2 = cluster2['Road Class_CITY STREET'].sum()
farm_market2 = cluster2['Road Class_FARM TO MARKET'].sum()
interstate2 = cluster2['Road Class_INTERSTATE'].sum()
non_trafficway2 = cluster2['Road Class_NON TRAFFICWAY'].sum()
US_state2 = cluster2['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count2, farm_market2, interstate2, non_trafficway2, US_state2)

12 212 1 0 29

In [114]:
# Statement 4: Most of the accidents recorded in Cluster 2 occurred on â€œFARM TO MARKETâ€ road class. True
farm_to_market_count = cluster2['Road Class_FARM TO MARKET'].sum()
statement4 = (farm_to_market_count > len(cluster2) / 2)
statement4

np.True_

In [115]:
# Explanation4:
city_street_count2 = cluster2['Road Class_CITY STREET'].sum()
farm_market2 = cluster2['Road Class_FARM TO MARKET'].sum()
interstate2 = cluster2['Road Class_INTERSTATE'].sum()
non_trafficway2 = cluster2['Road Class_NON TRAFFICWAY'].sum()
US_state2 = cluster2['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count2, farm_market2, interstate2, non_trafficway2, US_state2)

12 212 1 0 29

In [116]:
# Statement 5: Most of the accidents in Cluster 2 occurred on roadways classified as â€œ4 OR MORE LANES, DIVIDEDâ€. False
four_or_more_divided_count = cluster2['Roadway Type_4 OR MORE LANES, DIVIDED'].sum()
statement5 = (four_or_more_divided_count > len(cluster2) / 2)
statement5

np.False_

In [117]:
#Explanation5:
two_lane_count2 = cluster2['Roadway Type_2 LANE, 2 WAY'].sum()
divided2 = cluster2["Roadway Type_4 OR MORE LANES, DIVIDED"].sum()
undivided2 = cluster2["Roadway Type_4 OR MORE LANES, UNDIVIDED"].sum()
other2 = cluster2["Roadway Type_OTHER"].sum()
print(two_lane_count2, divided2, undivided2, other2)

126 35 40 53

In [118]:
# Statement 6:The majority of the accidents in Cluster 2 occurred on Mondays. False
Cluster2_size = len(cluster2)
Monday_cluster_2 = 46
percent = (Monday_cluster_2/Cluster2_size)*100
print(f"Precent of Monday in Cluster 2 : {percent:.2f}")

Precent of Monday in Cluster 2 : 18.11

In [119]:
# Explanation6:
mon_accidents2 = cluster2[cluster2['Day_Monday']]
print(len(mon_accidents2))
tue_accidents2 = cluster2[cluster2['Day_Tuesday']]
print(len(tue_accidents2))
wed_accidents2 = cluster2[cluster2['Day_Wednesday']]
print(len(wed_accidents2))
thu_accidents2 = cluster2[cluster2['Day_Thursday']]
print(len(thu_accidents2))
friday_accidents2 = cluster2[cluster2['Day_Friday']]
print(len(friday_accidents2))
sat_accidents2 = cluster2[cluster2['Day_Saturday']]
print(len(sat_accidents2))
sun_accidents2 = cluster2[cluster2['Day_Sunday']]
print(len(sun_accidents2))

46
31
34
44
35
30
34

In [120]:
# Statement 7: There are more accidents during the â€œEvening Rush Hourâ€ than the â€œMorning Rush Hourâ€ in Cluster 2. True
evening_rush_hour_count = cluster2['Time of Day_Evening Rush Hour'].sum()
morning_rush_hour_count = cluster2['Time of Day_Morning Rush Hour'].sum()
statement7 = (evening_rush_hour_count > morning_rush_hour_count)
statement7

np.True_

In [121]:
# Explanation7:
morning2 = cluster2['Time of Day_Morning Rush Hour'].sum()
evening2 = cluster2["Time of Day_Evening Rush Hour"].sum()
other2 = cluster2["Time of Day_Other"].sum()
print(morning2, evening2, other2)

20 34 200

# Question 9
Mark all the correct answers for Cluster 3:

In [122]:

cluster3 = X[X['agg'] == 3]

In [123]:
len(cluster3)

408

In [124]:
# Statement 1: Cluster 3 has the highest average â€œAdjusted Average Daily Traffic Amountâ€ compared to other clusters. False
avg_traffic_amount = cluster3['Adjusted Average Daily Traffic Amount'].mean()
all_avg_traffic_amounts = X.groupby('agg')['Adjusted Average Daily Traffic Amount'].mean()
statement1 = avg_traffic_amount == all_avg_traffic_amounts.max()
statement1

np.False_

In [125]:
# Expalantion1:
all_avg_traffic_amounts = X.groupby('agg')['Adjusted Average Daily Traffic Amount'].mean()
all_avg_traffic_amounts

agg
0    14656.614610
1    23402.756133
2    10311.078740
3    46181.674020
4    45013.897059
5    77387.968531
Name: Adjusted Average Daily Traffic Amount, dtype: float64

In [126]:
# Statement 2: Cluster 3 has the highest average â€œSpeed Limitâ€ compared to other clusters. False
avg_speed_limit = cluster3['Speed Limit'].mean()
all_avg_speed_limits = X.groupby('agg')['Speed Limit'].mean()
statement2 = avg_speed_limit == all_avg_speed_limits.max()
statement2

np.False_

In [127]:
# Explanation2
all_avg_speed_limits2 = X.groupby('agg')['Speed Limit'].mean()
all_avg_speed_limits2

agg
0    32.094878
1    43.001443
2    43.366142
3    49.546569
4    52.916667
5    60.874126
Name: Speed Limit, dtype: float64

In [128]:
# Statement3:None of the accidents recorded in Cluster 3 occurred on a road classified as â€œCity Street.â€ False
statement3 = (cluster3['Road Class_CITY STREET'].sum() == 0)
statement3

np.False_

In [129]:
# Explanation3:
city_street_count3 = cluster3['Road Class_CITY STREET'].sum()
farm_market3 = cluster3['Road Class_FARM TO MARKET'].sum()
interstate3 = cluster3['Road Class_INTERSTATE'].sum()
non_trafficway3 = cluster3['Road Class_NON TRAFFICWAY'].sum()
US_state3 = cluster3['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count3, farm_market3, interstate3, non_trafficway3, US_state3)

102 28 197 27 54

In [130]:
# Statement 4: Most of the accidents in Cluster 3 occurred on roadways classified as â€œ4 Or More Lanes, Divided.â€ True
four_or_more_divided_count = cluster3['Roadway Type_4 OR MORE LANES, DIVIDED'].sum()
statement4 = (four_or_more_divided_count > len(cluster3) / 2)
statement4

np.True_

In [131]:
#Explanation4:
two_lane_count3 = cluster3['Roadway Type_2 LANE, 2 WAY'].sum()
divided3 = cluster3["Roadway Type_4 OR MORE LANES, DIVIDED"].sum()
undivided3 = cluster3["Roadway Type_4 OR MORE LANES, UNDIVIDED"].sum()
other3 = cluster3["Roadway Type_OTHER"].sum()
print(two_lane_count3, divided3, undivided3, other3)

23 224 19 142

In [132]:
# Statement 5: All accidents in Cluster 3 involve collisions in â€œSame direction,â€ â€œOpposite direction,â€ â€œOne motor vehicle,â€ or â€œangle.â€ False
collisions_count = cluster3[
    cluster3['Manner of Collision_SAME DIRECTION'] |
    cluster3['Manner of Collision_OPPOSITE DIRECTION'] |
    cluster3['Manner of Collision_ONE MOTOR VEHICLE'] |
    cluster3['Manner of Collision_ANGLE']
].shape[0]
statement5 = (collisions_count == len(cluster3))
statement5

False

In [133]:
# Explanation5:
opposite_direction_count3 = cluster3['Manner of Collision_OPPOSITE DIRECTION'].sum()
one_motor3 = cluster3['Manner of Collision_ONE MOTOR VEHICLE'].sum()
same_direction3 = cluster3['Manner of Collision_SAME DIRECTION'].sum()
angle3 = cluster3['Manner of Collision_ANGLE'].sum()
other3 = cluster3['Manner of Collision_OTHER'].sum()
print(opposite_direction_count3, one_motor3, same_direction3, angle3, other3)

29 148 165 62 4

In [134]:
# Statement 6: Number of accident on Thursdays is higher than other days in Cluster 3. True
thursday_accidents = cluster3['Day_Thursday'].sum()
other_days_counts = {day: cluster3[f'Day_{day}'].sum() for day in ['Monday', 'Tuesday', 'Wednesday', 'Friday', 'Saturday', 'Sunday']}
statement6 = (thursday_accidents > max(other_days_counts.values()))
statement6

np.True_

In [135]:
# Explanation6:
mon_accidents3 = cluster3[cluster3['Day_Monday']]
print(len(mon_accidents3))
tue_accidents3 = cluster3[cluster3['Day_Tuesday']]
print(len(tue_accidents3))
wed_accidents3 = cluster3[cluster3['Day_Wednesday']]
print(len(wed_accidents3))
thu_accidents3 = cluster3[cluster3['Day_Thursday']]
print(len(thu_accidents3))
friday_accidents3 = cluster3[cluster3['Day_Friday']]
print(len(friday_accidents3))
sat_accidents3 = cluster3[cluster3['Day_Saturday']]
print(len(sat_accidents3))
sun_accidents3 = cluster3[cluster3['Day_Sunday']]
print(len(sun_accidents3))

48
48
37
95
53
71
56

In [136]:
# Statement 7: There are more accidents during the â€œMorning Rush Hourâ€ than the â€œEvening Rush Hourâ€ in Cluster 3. False
morning_rush_hour_count = cluster3['Time of Day_Morning Rush Hour'].sum()
evening_rush_hour_count = cluster3['Time of Day_Evening Rush Hour'].sum()
statement7 = (morning_rush_hour_count > evening_rush_hour_count)
statement7

np.False_

In [137]:
# Explanation7:
morning3 = cluster3['Time of Day_Morning Rush Hour'].sum()
evening3 = cluster3["Time of Day_Evening Rush Hour"].sum()
other3 = cluster3["Time of Day_Other"].sum()
print(morning3, evening3, other3)

29 54 325

# Question 10
Mark all the correct answers for Cluster 4:

In [138]:

cluster4 = X[X['agg'] == 4]

In [139]:
len(cluster4)

204

In [140]:
# Statement1:Cluster 4 has the lowest average â€œAdjusted Average Daily Traffic Amountâ€ compared to other clusters. False
avg_traffic_amount = cluster4['Adjusted Average Daily Traffic Amount'].mean()
all_avg_traffic_amounts = X.groupby('agg')['Adjusted Average Daily Traffic Amount'].mean()
statement1 = avg_traffic_amount == all_avg_traffic_amounts.min()
statement1

np.False_

In [141]:
# Expalantion1:
all_avg_traffic_amounts = X.groupby('agg')['Adjusted Average Daily Traffic Amount'].mean()
all_avg_traffic_amounts

agg
0    14656.614610
1    23402.756133
2    10311.078740
3    46181.674020
4    45013.897059
5    77387.968531
Name: Adjusted Average Daily Traffic Amount, dtype: float64

In [142]:
# Statement 2:Cluster 4 has the lowest average â€œSpeed Limitâ€ compared to other clusters - False
avg_speed_limit = cluster4['Speed Limit'].mean()
all_avg_speed_limits = X.groupby('agg')['Speed Limit'].mean()
statement2 = avg_speed_limit == all_avg_speed_limits.min()
statement2

np.False_

In [143]:
# Explanation2
all_avg_speed_limits = X.groupby('agg')['Speed Limit'].mean()
all_avg_speed_limits

agg
0    32.094878
1    43.001443
2    43.366142
3    49.546569
4    52.916667
5    60.874126
Name: Speed Limit, dtype: float64

In [144]:
# Statement3:None of the accidents recorded in Cluster 4 occurred on a road classified as â€œCity Street.â€ True
statement3 = (cluster4['Road Class_CITY STREET'].sum() == 0)
statement3

np.True_

In [145]:
# Explanation3:
city_street_count4 = cluster4['Road Class_CITY STREET'].sum()
farm_market4 = cluster4['Road Class_FARM TO MARKET'].sum()
interstate4 = cluster4['Road Class_INTERSTATE'].sum()
non_trafficway4 = cluster4['Road Class_NON TRAFFICWAY'].sum()
US_state4 = cluster4['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count4, farm_market4, interstate4, non_trafficway4, US_state4)

0 20 88 0 96

In [146]:
# Statement4 :Most of the accidents recorded in Cluster 4 occurred on â€œUS & STATE HIGHWAYSâ€ road class. True
us_state_highways_count = cluster4['Road Class_US & STATE HIGHWAYS'].sum()
statement4 = (us_state_highways_count <= len(cluster4)/2)
statement4

np.True_

In [147]:
# Explanation4:
city_street_count4 = cluster4['Road Class_CITY STREET'].sum()
farm_market4 = cluster4['Road Class_FARM TO MARKET'].sum()
interstate4 = cluster4['Road Class_INTERSTATE'].sum()
non_trafficway4 = cluster4['Road Class_NON TRAFFICWAY'].sum()
US_state4 = cluster4['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count4, farm_market4, interstate4, non_trafficway4, US_state4)

0 20 88 0 96

In [148]:
# Statement5:Most of the accidents in Cluster 4 occurred on roadways classified as â€œ4 OR MORE LANES, DIVIDEDâ€. True
four_or_more_divided_count = cluster4['Roadway Type_4 OR MORE LANES, DIVIDED'].sum()
statement5 = (four_or_more_divided_count > len(cluster4) / 2)
statement5

np.True_

In [149]:
#Explanation5:
two_lane_count4 = cluster4['Roadway Type_2 LANE, 2 WAY'].sum()
divided4 = cluster4["Roadway Type_4 OR MORE LANES, DIVIDED"].sum()
undivided4 = cluster4["Roadway Type_4 OR MORE LANES, UNDIVIDED"].sum()
other4 = cluster4["Roadway Type_OTHER"].sum()
print(two_lane_count4, divided4, undivided4, other4)

16 153 26 9

In [150]:
# Statement6:All accidents in Cluster 4 involve collisions in â€œSame direction,â€ â€œOpposite direction,â€ â€œOne motor vehicle,â€ or â€œangle.â€ True

collisions_count = cluster4[
    cluster4['Manner of Collision_SAME DIRECTION'] |
    cluster4['Manner of Collision_OPPOSITE DIRECTION'] |
    cluster4['Manner of Collision_ONE MOTOR VEHICLE'] |
    cluster4['Manner of Collision_ANGLE']
].shape[0]
statement6 = (collisions_count == len(cluster4))
statement6

True

In [151]:
# Explanation6:
opposite_direction_count4 = cluster4['Manner of Collision_OPPOSITE DIRECTION'].sum()
one_motor4 = cluster4['Manner of Collision_ONE MOTOR VEHICLE'].sum()
same_direction4 = cluster4['Manner of Collision_SAME DIRECTION'].sum()
angle4 = cluster4['Manner of Collision_ANGLE'].sum()
other4 = cluster4['Manner of Collision_OTHER'].sum()
print(opposite_direction_count4, one_motor4, same_direction4, angle4, other4)

18 29 118 39 0

In [152]:
# Statement 7:The majority of the accidents in Cluster 4 occurred on Friday. False
Cluster4_size = len(cluster4)
Friday_cluster_4 = 53
percent = (Friday_cluster_4/Cluster4_size)*100
print(f"Precent of Friday in Cluster 4 : {percent:.2f}")

Precent of Friday in Cluster 4 : 25.98

In [153]:
# Explanation7:
mon_accidents4 = cluster4[cluster4['Day_Monday']]
print(len(mon_accidents4))
tue_accidents4 = cluster4[cluster4['Day_Tuesday']]
print(len(tue_accidents4))
wed_accidents4 = cluster4[cluster4['Day_Wednesday']]
print(len(wed_accidents4))
thu_accidents4 = cluster4[cluster4['Day_Thursday']]
print(len(thu_accidents4))
friday_accidents4 = cluster4[cluster4['Day_Friday']]
print(len(friday_accidents4))
sat_accidents4 = cluster4[cluster4['Day_Saturday']]
print(len(sat_accidents4))
sun_accidents4 = cluster4[cluster4['Day_Sunday']]
print(len(sun_accidents4))

26
36
31
27
53
20
11

In [154]:
# Statement 8:There are more accidents during the â€œEvening Rush Hourâ€ than the â€œMorning Rush Hourâ€ in Cluster 4. False
evening_rush_hour_count = cluster4['Time of Day_Evening Rush Hour'].sum()
morning_rush_hour_count = cluster4['Time of Day_Morning Rush Hour'].sum()
statement8 = (evening_rush_hour_count > morning_rush_hour_count)
statement8

np.False_

In [155]:
# Explanation8:
morning4 = cluster4['Time of Day_Morning Rush Hour'].sum()
evening4 = cluster4["Time of Day_Evening Rush Hour"].sum()
other4 = cluster4["Time of Day_Other"].sum()
print(morning4, evening4, other4)

34 31 139

# Question 11
Mark all the correct answers for Cluster 5:

In [156]:

cluster5 = X[X['agg'] == 5]

In [157]:
len(cluster5)

858

In [158]:
# Statement 1:Cluster 5 has the lowest average speed limit among all clusters. False
avg_speed_limit = cluster5['Speed Limit'].mean()
all_avg_speed_limits = X.groupby('agg')['Speed Limit'].mean()
statement1 = avg_speed_limit == all_avg_speed_limits.min()
statement1

np.False_

In [159]:
# Explanation1
avg_speed_limit = cluster5['Speed Limit'].mean()
all_avg_speed_limits = X.groupby('agg')['Speed Limit'].mean()
print(all_avg_speed_limits, avg_speed_limit)

agg
0    32.094878
1    43.001443
2    43.366142
3    49.546569
4    52.916667
5    60.874126
Name: Speed Limit, dtype: float64 60.87412587412587

In [160]:
# Statement2:Cluster 5 has the highest average â€œSpeed Limitâ€ among the 6 clusters. True
avg_speed_limit = cluster5['Speed Limit'].mean()
statement2 = avg_speed_limit == all_avg_speed_limits.max()
statement2

np.True_

In [161]:
# Explanation2
all_avg_speed_limits = X.groupby('agg')['Speed Limit'].mean()
all_avg_speed_limits

agg
0    32.094878
1    43.001443
2    43.366142
3    49.546569
4    52.916667
5    60.874126
Name: Speed Limit, dtype: float64

In [162]:
# Statement 3:Cluster 5 has the highest number of accidents recorded on the â€œInterstateâ€ road class compared to other clusters. True
interstate_count = cluster5['Road Class_INTERSTATE'].sum()
all_interstate_counts = X.groupby('agg')['Road Class_INTERSTATE'].sum()
statement3 = interstate_count == all_interstate_counts.max()
statement3

np.True_

In [163]:
# Explanation3:
lowest_us_state = X.groupby('agg')['Road Class_INTERSTATE'].sum()
lowest_us_state

agg
0     45
1      0
2      1
3    197
4     88
5    858
Name: Road Class_INTERSTATE, dtype: int64

In [164]:
# Statement4:Cluster 5 has the lowest number of accidents on US and State Highways compared to other clusters. True

us_state_highways_count = cluster5['Road Class_US & STATE HIGHWAYS'].sum()
all_us_state_counts = X.groupby('agg')['Road Class_US & STATE HIGHWAYS'].sum()
statement4 = us_state_highways_count == all_us_state_counts.min()
statement4

np.True_

In [165]:
# Explanation4:
lowest_us_state = X.groupby('agg')['Road Class_US & STATE HIGHWAYS'].sum()
lowest_us_state

agg
0     37
1    645
2     29
3     54
4     96
5      0
Name: Road Class_US & STATE HIGHWAYS, dtype: int64

In [166]:
# Statement 5:Most of the accidents recorded in Cluster 5 occurred on roadways with â€œ4 or more lanes, divided.â€ True
four_or_more_divided_count = cluster5['Roadway Type_4 OR MORE LANES, DIVIDED'].sum()
statement5 = (four_or_more_divided_count > len(cluster5) / 2)
statement5

np.True_

In [167]:
#Explanation5:
two_lane_count5 = cluster5['Roadway Type_2 LANE, 2 WAY'].sum()
divided5 = cluster5["Roadway Type_4 OR MORE LANES, DIVIDED"].sum()
undivided5 = cluster5["Roadway Type_4 OR MORE LANES, UNDIVIDED"].sum()
other5 = cluster5["Roadway Type_OTHER"].sum()
print(two_lane_count5, divided5, undivided5, other5)

0 855 0 3

In [168]:
# Statement 6:The most frequent manner of collision among instances in Cluster 5 is â€œSame Directionâ€. True
same_direction_count = cluster5['Manner of Collision_SAME DIRECTION'].sum()
other_collisions1 = [
    cluster5['Manner of Collision_ONE MOTOR VEHICLE'].sum(),
    cluster5['Manner of Collision_OPPOSITE DIRECTION'].sum(),
    cluster5['Manner of Collision_ANGLE'].sum(),
    cluster5['Manner of Collision_OTHER'].sum()
]

statement6 = (same_direction_count > max(other_collisions1))
statement6

np.True_

In [169]:
same_direction_count = cluster5['Manner of Collision_SAME DIRECTION'].sum()
same_direction_count

np.int64(629)

In [170]:
max(other_collisions1)

np.int64(127)

In [171]:
# Explanation6:
opposite_direction_count5 = cluster5['Manner of Collision_OPPOSITE DIRECTION'].sum()
one_motor5 = cluster5['Manner of Collision_ONE MOTOR VEHICLE'].sum()
same_direction5 = cluster5['Manner of Collision_SAME DIRECTION'].sum()
angle5 = cluster5['Manner of Collision_ANGLE'].sum()
other5 = cluster5['Manner of Collision_OTHER'].sum()
print(opposite_direction_count5, one_motor5, same_direction5, angle5, other5)

22 127 629 80 0

In [172]:
# Statement 7:The most frequent manner of collision among instances in Cluster 5 is â€œOne Motor Vehicleâ€. False
most_frequent_collision = cluster5['Manner of Collision_ONE MOTOR VEHICLE'].sum()
other_collisions = [
    cluster5['Manner of Collision_SAME DIRECTION'].sum(),
    cluster5['Manner of Collision_OPPOSITE DIRECTION'].sum(),
    cluster5['Manner of Collision_ANGLE'].sum(),
    cluster5['Manner of Collision_OTHER'].sum()
]
statement7 = (most_frequent_collision > max(other_collisions))
statement7

np.False_

In [173]:
# Explanation7:
opposite_direction_count5 = cluster5['Manner of Collision_OPPOSITE DIRECTION'].sum()
one_motor5 = cluster5['Manner of Collision_ONE MOTOR VEHICLE'].sum()
same_direction5 = cluster5['Manner of Collision_SAME DIRECTION'].sum()
angle5 = cluster5['Manner of Collision_ANGLE'].sum()
other5 = cluster5['Manner of Collision_OTHER'].sum()
print(opposite_direction_count5, one_motor5, same_direction5, angle5, other5)

22 127 629 80 0

In [174]:
# Statement 8: The majority of accidents recorded in Cluster 5 occurred on Saturdays. False
Cluster5_size = len(cluster5)
Saturday_cluster_5 = 89
percent = (Saturday_cluster_5/Cluster5_size)*100
print(f"Percent of Saturday in Cluster 5 : {percent:.2f}")

Percent of Saturday in Cluster 5 : 10.37

In [175]:
mon_accidents5 = cluster5[cluster5['Day_Monday']]
print(len(mon_accidents5))
tue_accidents5 = cluster5[cluster5['Day_Tuesday']]
print(len(tue_accidents5))
wed_accidents5 = cluster5[cluster5['Day_Wednesday']]
print(len(wed_accidents5))
thu_accidents5 = cluster5[cluster5['Day_Thursday']]
print(len(thu_accidents5))
friday_accidents5 = cluster5[cluster5['Day_Friday']]
print(len(friday_accidents5))
sat_accidents5 = cluster5[cluster5['Day_Saturday']]
print(len(sat_accidents5))
sun_accidents5 = cluster5[cluster5['Day_Sunday']]
print(len(sun_accidents5))

127
130
131
122
164
89
95

# Question 12
Now, train a KMeans clustering algorithm on the scaled feature set with 3 clusters and random_state = 0 and n_init= "auto". Assume the default values for the rest of the parameters. 

Follow the instructions provided for Agglomerative Clustering to perform post-processing on the labels predicted by the KMeans model. Once done, complete the following table.

In [181]:
from sklearn.cluster import KMeans

model_2 = KMeans(n_clusters = 3,  random_state = 0, n_init= 'auto')
model_2 = model_2.fit(X_scaled)

X['kmeans'] = model_2.labels_


cluster_kmeans = X.groupby('kmeans').mean().sort_values(by='Speed Limit')

label_mapping = {old_label: new_label for new_label, old_label in enumerate(cluster_kmeans.index)}
X['kmeans'] = X['kmeans'].map(label_mapping)

In [182]:
cluster_ksizes = X['kmeans'].value_counts().sort_index()
print(cluster_ksizes)

kmeans
0    1359
1    1078
2    1171
Name: count, dtype: int64

# Question 13
Mark all the correct answers for Cluster 0(KMeans):

In [186]:
cluster0 = X[X['kmeans'] == 0]

In [187]:
len(cluster0)

1359

In [216]:
# Statement 1:Cluster 0 has the lowest average â€œAdjusted Average Daily Traffic Amountâ€. True
avg_adjusted_traffic = cluster0['Adjusted Average Daily Traffic Amount'].mean()
all_avg_adjusted_traffic = X.groupby('kmeans')['Adjusted Average Daily Traffic Amount'].mean()
statement1 = avg_adjusted_traffic == all_avg_adjusted_traffic.min()
statement1

np.True_

In [215]:
# Explanation1:
avg_adjusted_traffic = cluster0['Adjusted Average Daily Traffic Amount'].mean()


all_avg_adjusted_traffic = X.groupby('kmeans')['Adjusted Average Daily Traffic Amount'].mean()
print(all_avg_adjusted_traffic, avg_adjusted_traffic)

kmeans
0    12451.162620
1    20870.629870
2    77965.258753
Name: Adjusted Average Daily Traffic Amount, dtype: float64 12451.162619573215

In [217]:
# Statement 2:Cluster 0 has the lowest average â€œSpeed Limitâ€ compared to other clusters. True
avg_speed_limit = cluster0['Speed Limit'].mean()
all_avg_speed_limits = X.groupby('kmeans')['Speed Limit'].mean()
statement2 = avg_speed_limit == all_avg_speed_limits.min()
statement2

np.True_

In [218]:
# Explanation2:
avg_speed_limit = cluster0['Speed Limit'].mean()


all_avg_speed_limits = X.groupby('kmeans')['Speed Limit'].mean()
print(all_avg_speed_limits, avg_speed_limit)

kmeans
0    31.475350
1    44.183673
2    61.379163
Name: Speed Limit, dtype: float64 31.475349521707138

In [219]:
# Statement3:The majority of the accidents in Cluster 0 occurred on roads classified as â€œCITY STREETâ€. True
Cluster0_size = 1359
city_street_clsuter_0 = 1004
percent = (city_street_clsuter_0/Cluster0_size)*100
print(f"Percent of City Street Roads in Cluster 0 : {percent:.2f}")

Percent of City Street Roads in Cluster 0 : 73.88

In [220]:
# Explanation3:
city_street_count = cluster0['Road Class_CITY STREET'].sum()
farm_market = cluster0['Road Class_FARM TO MARKET'].sum()
interstate = cluster0['Road Class_INTERSTATE'].sum()
non_trafficway = cluster0['Road Class_NON TRAFFICWAY'].sum()
US_state = cluster0['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count, farm_market, interstate, non_trafficway, US_state)

1004 74 18 254 9

In [221]:
# Statement 4:The majority of accidents in Cluster 0 occurred on roads classified â€œUS & STATE HIGHWAYSâ€. False
Cluster0_size = 1359
us_state_cluster0 = 9
percent = (us_state_cluster0/Cluster0_size)*100
print(f"Percent of â€œUS & STATE HIGHWAYSâ€ in Cluster 0 : {percent:.2f}")

Percent of â€œUS & STATE HIGHWAYSâ€ in Cluster 0 : 0.66

In [222]:
# Explanation4:
city_street_count = cluster0['Road Class_CITY STREET'].sum()
farm_market = cluster0['Road Class_FARM TO MARKET'].sum()
interstate = cluster0['Road Class_INTERSTATE'].sum()
non_trafficway = cluster0['Road Class_NON TRAFFICWAY'].sum()
US_state = cluster0['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count, farm_market, interstate, non_trafficway, US_state)

1004 74 18 254 9

In [223]:
# Statement5 :Cluster 0 is the only cluster with accidents recorded on â€œNON TRAFFICWAYâ€ road class. True
non_trafficway_count = cluster0['Road Class_NON TRAFFICWAY'].sum()
statement5 = (non_trafficway_count > 0 and (X['Road Class_NON TRAFFICWAY'].sum() == non_trafficway_count))
statement5

np.True_

In [224]:
# Explanation5:
city_street_count = cluster0['Road Class_CITY STREET'].sum()
farm_market = cluster0['Road Class_FARM TO MARKET'].sum()
interstate = cluster0['Road Class_INTERSTATE'].sum()
non_trafficway = cluster0['Road Class_NON TRAFFICWAY'].sum()
US_state = cluster0['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count, farm_market, interstate, non_trafficway, US_state)

# Explanation:
city_street_count = cluster1['Road Class_CITY STREET'].sum()
farm_market = cluster1['Road Class_FARM TO MARKET'].sum()
interstate = cluster1['Road Class_INTERSTATE'].sum()
non_trafficway = cluster1['Road Class_NON TRAFFICWAY'].sum()
US_state = cluster1['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count, farm_market, interstate, non_trafficway, US_state)

# Explanation:
city_street_count = cluster2['Road Class_CITY STREET'].sum()
farm_market = cluster2['Road Class_FARM TO MARKET'].sum()
interstate = cluster2['Road Class_INTERSTATE'].sum()
non_trafficway = cluster2['Road Class_NON TRAFFICWAY'].sum()
US_state = cluster2['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count, farm_market, interstate, non_trafficway, US_state)

1004 74 18 254 9
43 5 0 0 645
12 212 1 0 29

In [225]:
# Statement 6:Cluster 0 has the highest number of recorded accidents on roadways with â€œ4 or more lanes, divided.â€. False
four_or_more_divided_count = cluster0['Roadway Type_4 OR MORE LANES, DIVIDED'].sum()
all_four_or_more_counts = X.groupby('kmeans')['Roadway Type_4 OR MORE LANES, DIVIDED'].sum()
statement6 = four_or_more_divided_count == all_four_or_more_counts.max()
statement6

np.False_

In [226]:
#Explanation6:
two_lane_count = cluster0['Roadway Type_2 LANE, 2 WAY'].sum()
divided = cluster0["Roadway Type_4 OR MORE LANES, DIVIDED"].sum()
undivided = cluster0["Roadway Type_4 OR MORE LANES, UNDIVIDED"].sum()
other = cluster0["Roadway Type_OTHER"].sum()
print(two_lane_count, divided, undivided, other)

15 5 46 1293

In [227]:
# Statement 7:Cluster 0 has the highest number of recorded accidents with the collision type â€œONE MOTOR VEHICLEâ€ compared to other clusters. True
one_motor_vehicle_count = cluster0['Manner of Collision_ONE MOTOR VEHICLE'].sum()
all_one_motor_vehicle_counts = X.groupby('kmeans')['Manner of Collision_ONE MOTOR VEHICLE'].sum()
statement7 = one_motor_vehicle_count == all_one_motor_vehicle_counts.max()
statement7

np.True_

In [229]:
#Explanation7:
one_motor_vehicle_count = cluster0['Manner of Collision_ONE MOTOR VEHICLE'].sum()


all_one_motor_vehicle_counts = X.groupby('kmeans')['Manner of Collision_ONE MOTOR VEHICLE'].sum()
print(all_one_motor_vehicle_counts, one_motor_vehicle_count)

kmeans
0    477
1    115
2    209
Name: Manner of Collision_ONE MOTOR VEHICLE, dtype: int64 477

In [230]:
# Statement 8:Cluster 0 has the highest number of recorded accidents with the collision type â€œSAME DIRECTIONâ€ compared to other clusters. False
same_direction_count = cluster0['Manner of Collision_SAME DIRECTION'].sum()
all_same_direction_counts = X.groupby('kmeans')['Manner of Collision_SAME DIRECTION'].sum()
statement8 = same_direction_count == all_same_direction_counts.max()
statement8

np.False_

In [231]:
#Explanation8:
one_motor_vehicle_count = cluster0['Manner of Collision_SAME DIRECTION'].sum()


all_one_motor_vehicle_counts = X.groupby('kmeans')['Manner of Collision_SAME DIRECTION'].sum()
print(all_one_motor_vehicle_counts, one_motor_vehicle_count)

kmeans
0    291
1    433
2    843
Name: Manner of Collision_SAME DIRECTION, dtype: int64 291

In [232]:
# Statement 9:Most of the accidents in Cluster 0 occurred on Fridays. True
friday_accidents = cluster0['Day_Friday'].sum()
statement9 = (friday_accidents <= len(cluster0) / 2)
statement9

np.True_

In [233]:
#Explanation9:
mon_accidents = cluster0['Day_Monday'].sum()
print(mon_accidents)
tue_accidents = cluster0['Day_Tuesday'].sum()
print(tue_accidents)
wed_accidents = cluster0['Day_Wednesday'].sum()
print(wed_accidents)
thu_accidents = cluster0['Day_Thursday'].sum()
print(thu_accidents)
friday_accidents = cluster0['Day_Friday'].sum()
print(friday_accidents)
sat_accidents = cluster0['Day_Saturday'].sum()
print(sat_accidents)
sun_accidents = cluster0['Day_Sunday'].sum()
print(sun_accidents)

198
195
204
188
217
195
162

In [234]:
# Statement 10:Numbers of accidents in Cluster 0 during â€œMorning Rush Hoursâ€ are higher than those during â€œEvening Rush Hoursâ€. False
morning_rush_hour_count = cluster0['Time of Day_Morning Rush Hour'].sum()
evening_rush_hour_count = cluster0['Time of Day_Evening Rush Hour'].sum()
statement10 = (morning_rush_hour_count > evening_rush_hour_count)
statement10

np.False_

In [235]:
# Explanation10:
morning = cluster0['Time of Day_Morning Rush Hour'].sum()
evening = cluster0["Time of Day_Evening Rush Hour"].sum()
other = cluster0["Time of Day_Other"].sum()
print(morning, evening, other)

105 226 1028

# Question 14
Mark all the correct answers for Cluster 1(KMeans):

In [239]:

cluster1 = X[X['kmeans'] == 1]

In [240]:
len(cluster1)

1078

In [241]:
# Statement 1:Cluster 1 has the lowest average â€œAdjusted Average Daily Traffic Amountâ€. false

avg_adjusted_traffic = cluster1['Adjusted Average Daily Traffic Amount'].mean()
all_avg_adjusted_traffic = X.groupby('kmeans')['Adjusted Average Daily Traffic Amount'].mean()
statement1 = avg_adjusted_traffic == all_avg_adjusted_traffic.min()
statement1

np.False_

In [242]:
# Explanation1:
avg_adjusted_traffic = cluster0['Adjusted Average Daily Traffic Amount'].mean()


all_avg_adjusted_traffic = X.groupby('kmeans')['Adjusted Average Daily Traffic Amount'].mean()
print(all_avg_adjusted_traffic, avg_adjusted_traffic)

kmeans
0    12451.162620
1    20870.629870
2    77965.258753
Name: Adjusted Average Daily Traffic Amount, dtype: float64 12451.162619573215

In [243]:
# Statement 2:Cluster 1 has the lowest average â€œSpeed Limitâ€ compared to other clusters. false
avg_speed_limit = cluster1['Speed Limit'].mean()
all_avg_speed_limits = X.groupby('kmeans')['Speed Limit'].mean()
statement2= avg_speed_limit == all_avg_speed_limits.min()
statement2

np.False_

In [244]:
# Explanation2:
avg_speed_limit = cluster0['Speed Limit'].mean()


all_avg_speed_limits = X.groupby('kmeans')['Speed Limit'].mean()
print(all_avg_speed_limits, avg_speed_limit)

kmeans
0    31.475350
1    44.183673
2    61.379163
Name: Speed Limit, dtype: float64 31.475349521707138

In [245]:
# Statement 3:The majority of the accidents in Cluster 1 occurred on roads classified as â€œCITY STREETâ€. false
Cluster1_size = len(cluster1)
city_street_cluster_1 = 15
percent = (city_street_cluster_1/Cluster0_size)*100
print(f"Percent of City Street Roads in Cluster 1 : {percent:.2f}")

Percent of City Street Roads in Cluster 1 : 1.10

In [246]:
# Explanation3:
city_street_count = cluster1['Road Class_CITY STREET'].sum()
farm_market = cluster1['Road Class_FARM TO MARKET'].sum()
interstate = cluster1['Road Class_INTERSTATE'].sum()
non_trafficway = cluster1['Road Class_NON TRAFFICWAY'].sum()
US_state = cluster1['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count, farm_market, interstate, non_trafficway, US_state)

15 210 1 0 852

In [248]:
# Statement 4:The majority of accidents in Cluster 1 occurred on roads classified â€œUS & STATE HIGHWAYSâ€. True
Cluster1_size = len(cluster1)
us_state_cluster_1 = 852
percent = (us_state_cluster_1/Cluster1_size)*100
print(f"Percent of â€œUS & STATE HIGHWAYSâ€ in Cluster 1 : {percent:.2f}")

Percent of â€œUS & STATE HIGHWAYSâ€ in Cluster 1 : 79.04

In [249]:
# Statement 5:Cluster 1 is the only cluster with accidents recorded on â€œNON TRAFFICWAYâ€ road class. False
non_trafficway_count = cluster1['Road Class_NON TRAFFICWAY'].sum()
statement5 = (non_trafficway_count > 0 and (X['Road Class_NON TRAFFICWAY'].sum() == non_trafficway_count))
statement5

np.False_

In [250]:
# Explanation:
city_street_count = cluster0['Road Class_CITY STREET'].sum()
farm_market = cluster0['Road Class_FARM TO MARKET'].sum()
interstate = cluster0['Road Class_INTERSTATE'].sum()
non_trafficway = cluster0['Road Class_NON TRAFFICWAY'].sum()
US_state = cluster0['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count, farm_market, interstate, non_trafficway, US_state)

# Explanation:
city_street_count = cluster1['Road Class_CITY STREET'].sum()
farm_market = cluster1['Road Class_FARM TO MARKET'].sum()
interstate = cluster1['Road Class_INTERSTATE'].sum()
non_trafficway = cluster1['Road Class_NON TRAFFICWAY'].sum()
US_state = cluster1['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count, farm_market, interstate, non_trafficway, US_state)

# Explanation:
city_street_count = cluster2['Road Class_CITY STREET'].sum()
farm_market = cluster2['Road Class_FARM TO MARKET'].sum()
interstate = cluster2['Road Class_INTERSTATE'].sum()
non_trafficway = cluster2['Road Class_NON TRAFFICWAY'].sum()
US_state = cluster2['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count, farm_market, interstate, non_trafficway, US_state)

1004 74 18 254 9
15 210 1 0 852
12 212 1 0 29

In [251]:
# Statement 6:Cluster 1 has the highest number of recorded accidents on roadways with â€œ4 OR MORE LANES, UNDIVIDEDâ€ compared to other clusters. true
four_or_more_undivided_count = cluster1['Roadway Type_4 OR MORE LANES, UNDIVIDED'].sum()
all_four_or_more_counts = X.groupby('kmeans')['Roadway Type_4 OR MORE LANES, UNDIVIDED'].sum()
statement6 = four_or_more_undivided_count == all_four_or_more_counts.max()
statement6

np.True_

In [252]:
#Explanation6:
two_lane_count = cluster1['Roadway Type_2 LANE, 2 WAY'].sum()
divided = cluster1["Roadway Type_4 OR MORE LANES, DIVIDED"].sum()
undivided = cluster1["Roadway Type_4 OR MORE LANES, UNDIVIDED"].sum()
other = cluster1["Roadway Type_OTHER"].sum()
print(two_lane_count, divided, undivided, other)

170 639 221 48

In [253]:
# Statement 7:Cluster 1 has the lowest number of recorded accidents with the collision type â€œONE MOTOR VEHICLEâ€ compared to other clusters. true
one_motor_vehicle_count = cluster1['Manner of Collision_ONE MOTOR VEHICLE'].sum()
all_one_motor_vehicle_counts = X.groupby('kmeans')['Manner of Collision_ONE MOTOR VEHICLE'].sum()
statement7 = one_motor_vehicle_count == all_one_motor_vehicle_counts.min()
statement7

np.True_

In [256]:
#Explanation6:
one_motor_vehicle_count = cluster1['Manner of Collision_ONE MOTOR VEHICLE'].sum()


all_one_motor_vehicle_counts = X.groupby('kmeans')['Manner of Collision_ONE MOTOR VEHICLE'].sum()
print(all_one_motor_vehicle_counts, one_motor_vehicle_count)

kmeans
0    477
1    115
2    209
Name: Manner of Collision_ONE MOTOR VEHICLE, dtype: int64 115

In [257]:
# Statement 8:Cluster 1 has the highest number of recorded accidents with the collision type â€œSAME DIRECTIONâ€ compared to other clusters. false

same_direction_count = cluster1['Manner of Collision_SAME DIRECTION'].sum()
all_same_direction_counts = X.groupby('kmeans')['Manner of Collision_SAME DIRECTION'].sum()
statement8 = same_direction_count == all_same_direction_counts.max()
statement8

np.False_

In [258]:
#Explanation8:
one_motor_vehicle_count = cluster1['Manner of Collision_SAME DIRECTION'].sum()


all_one_motor_vehicle_counts = X.groupby('kmeans')['Manner of Collision_SAME DIRECTION'].sum()
print(all_one_motor_vehicle_counts, one_motor_vehicle_count)

kmeans
0    291
1    433
2    843
Name: Manner of Collision_SAME DIRECTION, dtype: int64 433

In [261]:
# Statement 9:Accidents in Cluster 1 are most frequent on Fridays compared to other days in the dataset. true
friday_accidents = cluster1['Day_Friday'].sum()
statement2 = (friday_accidents < max(
    cluster1['Day_Monday'].sum(),
    cluster1['Day_Tuesday'].sum(),
    cluster1['Day_Wednesday'].sum(),
    cluster1['Day_Thursday'].sum(),
    cluster1['Day_Saturday'].sum(),
    cluster1['Day_Sunday'].sum(),
))
statement8

np.False_

In [260]:
mon_accidents = cluster1['Day_Monday'].sum()
print(mon_accidents)
tue_accidents = cluster1['Day_Tuesday'].sum()
print(tue_accidents)
wed_accidents = cluster1['Day_Wednesday'].sum()
print(wed_accidents)
thu_accidents = cluster1['Day_Thursday'].sum()
print(thu_accidents)
friday_accidents = cluster1['Day_Friday'].sum()
print(friday_accidents)
sat_accidents = cluster1['Day_Saturday'].sum()
print(sat_accidents)
sun_accidents = cluster1['Day_Sunday'].sum()
print(sun_accidents)

163
175
171
167
184
124
94

In [262]:
# Statement 10:Numbers of accidents in Cluster 1 during â€œMorning Rush Hoursâ€ are higher than those during â€œEvening Rush Hoursâ€. false

morning_rush_hour_count = cluster1['Time of Day_Morning Rush Hour'].sum()
evening_rush_hour_count = cluster1['Time of Day_Evening Rush Hour'].sum()
statement9 = (morning_rush_hour_count > evening_rush_hour_count)
statement9

np.False_

In [263]:
# Explanation10:
morning = cluster1['Time of Day_Morning Rush Hour'].sum()
evening = cluster1["Time of Day_Evening Rush Hour"].sum()
other = cluster1["Time of Day_Other"].sum()
print(morning, evening, other)

129 185 764

# Question 15
Mark all the correct answers for Cluster 2(KMeans):

In [264]:

cluster2 = X[X['kmeans'] == 2]

In [265]:
len(cluster2)

1171

In [266]:
# Statement 1:Cluster 2 has the lowest number of recorded accidents with the collision type â€œONE MOTOR VEHICLEâ€ compared to other clusters. false
one_motor_vehicle_count = cluster2['Manner of Collision_ONE MOTOR VEHICLE'].sum()
all_one_motor_vehicle_counts = X.groupby('kmeans')['Manner of Collision_ONE MOTOR VEHICLE'].sum()
statement1 = one_motor_vehicle_count == all_one_motor_vehicle_counts.min()
statement1

np.False_

In [268]:
all_one_motor_vehicle_counts = X.groupby('kmeans')['Manner of Collision_ONE MOTOR VEHICLE'].sum()
all_one_motor_vehicle_counts

kmeans
0    477
1    115
2    209
Name: Manner of Collision_ONE MOTOR VEHICLE, dtype: int64

In [270]:
# Statement 2:The majority of the accidents in Cluster 2 occurred on roads classified as â€œCITY STREETâ€. false
Cluster2_size = len(cluster2)
city_street_cluster_2 = 1
percent = (city_street_cluster_2/Cluster2_size)*100
print(f"Percent of City Street Roads in Cluster 1 : {percent:.2f}")

Percent of City Street Roads in Cluster 1 : 0.09

In [271]:
# Explanation:
city_street_count = cluster2['Road Class_CITY STREET'].sum()
farm_market = cluster2['Road Class_FARM TO MARKET'].sum()
interstate = cluster2['Road Class_INTERSTATE'].sum()
non_trafficway = cluster2['Road Class_NON TRAFFICWAY'].sum()
US_state = cluster2['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count, farm_market, interstate, non_trafficway, US_state)

1 0 1170 0 0

In [273]:
# Statement 3:Cluster 2 has the highest number of recorded accidents on roadways with â€œ4 OR MORE LANES, DIVIDEDâ€ compared to other clusters. true 

four_or_more_divided_count = cluster2['Roadway Type_4 OR MORE LANES, DIVIDED'].sum()
all_four_or_more_counts = X.groupby('kmeans')['Roadway Type_4 OR MORE LANES, DIVIDED'].sum()
statement3 = four_or_more_divided_count == all_four_or_more_counts.max()
statement3

np.True_

In [275]:
all_four_or_more_counts = X.groupby('kmeans')['Roadway Type_4 OR MORE LANES, DIVIDED'].sum()
all_four_or_more_counts

kmeans
0       5
1     639
2    1132
Name: Roadway Type_4 OR MORE LANES, DIVIDED, dtype: int64

In [276]:
# Statement 4:Numbers of accidents in Cluster 2 during â€œMorning Rush Hoursâ€ are higher than those during â€œEvening Rush Hoursâ€. false
morning_rush_hour_count = cluster2['Time of Day_Morning Rush Hour'].sum()
evening_rush_hour_count = cluster2['Time of Day_Evening Rush Hour'].sum()
statement4 = (morning_rush_hour_count > evening_rush_hour_count)
statement4

np.False_

In [277]:
# Explanation:
morning = cluster2['Time of Day_Morning Rush Hour'].sum()
evening = cluster2["Time of Day_Evening Rush Hour"].sum()
other = cluster2["Time of Day_Other"].sum()
print(morning, evening, other)

113 241 817

In [278]:
# Statement 5:None of the accidents recorded in Cluster 2 occurred on â€œUS & STATE HIGHWAYSâ€ road class. true

us_state_highways_count = cluster2['Road Class_US & STATE HIGHWAYS'].sum()
statement5 = (us_state_highways_count == 0)
statement5

np.True_

In [279]:
# Explanation:
city_street_count = cluster2['Road Class_CITY STREET'].sum()
farm_market = cluster2['Road Class_FARM TO MARKET'].sum()
interstate = cluster2['Road Class_INTERSTATE'].sum()
non_trafficway = cluster2['Road Class_NON TRAFFICWAY'].sum()
US_state = cluster2['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count, farm_market, interstate, non_trafficway, US_state)

1 0 1170 0 0

In [280]:
# Statement 6:Accidents in Cluster 2 are most frequent on Fridays compared to other days in the dataset.

friday_accidents = cluster2['Day_Friday'].sum()
statement6 = (friday_accidents > max(
    cluster2['Day_Monday'].sum(),
    cluster2['Day_Tuesday'].sum(),
    cluster2['Day_Wednesday'].sum(),
    cluster2['Day_Thursday'].sum(),
    cluster2['Day_Saturday'].sum(),
    cluster2['Day_Sunday'].sum(),
))
statement6

np.True_

In [281]:
mon_accidents = cluster2['Day_Monday'].sum()
print(mon_accidents)
tue_accidents = cluster2['Day_Tuesday'].sum()
print(tue_accidents)
wed_accidents = cluster2['Day_Wednesday'].sum()
print(wed_accidents)
thu_accidents = cluster2['Day_Thursday'].sum()
print(thu_accidents)
friday_accidents = cluster2['Day_Friday'].sum()
print(friday_accidents)
sat_accidents = cluster2['Day_Saturday'].sum()
print(sat_accidents)
sun_accidents = cluster2['Day_Sunday'].sum()
print(sun_accidents)

166
178
166
184
215
139
123

In [283]:
# Statement 7:Cluster 2 has the highest number of recorded accidents with the collision type â€œSAME DIRECTIONâ€ compared to other clusters.

same_direction_count = cluster2['Manner of Collision_SAME DIRECTION'].sum()
all_same_direction_counts = X.groupby('kmeans')['Manner of Collision_SAME DIRECTION'].sum()
statement7 = same_direction_count == all_same_direction_counts.max()
statement7

np.True_

In [282]:
all_same_direction_counts = X.groupby('kmeans')['Manner of Collision_SAME DIRECTION'].sum()
all_same_direction_counts

kmeans
0    291
1    433
2    843
Name: Manner of Collision_SAME DIRECTION, dtype: int64

In [284]:
# Statement 8:Cluster 2 is the only cluster with accidents recorded on â€œNON TRAFFICWAYâ€ road class.false
non_trafficway_count = cluster2['Road Class_NON TRAFFICWAY'].sum()
statement8 = (non_trafficway_count > 0 and (X['Road Class_NON TRAFFICWAY'].sum() == non_trafficway_count))
statement8

np.False_

In [285]:
# Explanation:
city_street_count = cluster2['Road Class_CITY STREET'].sum()
farm_market = cluster2['Road Class_FARM TO MARKET'].sum()
interstate = cluster2['Road Class_INTERSTATE'].sum()
non_trafficway = cluster2['Road Class_NON TRAFFICWAY'].sum()
US_state = cluster2['Road Class_US & STATE HIGHWAYS'].sum()

print(city_street_count, farm_market, interstate, non_trafficway, US_state)

1 0 1170 0 0

In [286]:
# Statement 9:Cluster 2 has the highest average â€œAdjusted Average Daily Traffic Amountâ€.
avg_adjusted_traffic = cluster2['Adjusted Average Daily Traffic Amount'].mean()
all_avg_adjusted_traffic = X.groupby('agg')['Adjusted Average Daily Traffic Amount'].mean()
statement9 = avg_adjusted_traffic == all_avg_adjusted_traffic.max()
statement9

np.True_

In [287]:
all_avg_adjusted_traffic = X.groupby('agg')['Adjusted Average Daily Traffic Amount'].mean()
all_avg_adjusted_traffic

agg
0    12451.162620
1    20870.629870
2    77965.258753
Name: Adjusted Average Daily Traffic Amount, dtype: float64

In [288]:
# Statement 10:Cluster 2 has the highest average â€œSpeed Limitâ€ compared to other clusters.
avg_speed_limit = cluster2['Speed Limit'].mean()
all_avg_speed_limits = X.groupby('agg')['Speed Limit'].mean()
statement10 = avg_speed_limit == all_avg_speed_limits.max()
statement10

np.True_

In [289]:
all_avg_speed_limits = X.groupby('agg')['Speed Limit'].mean()
all_avg_speed_limits

agg
0    31.475350
1    44.183673
2    61.379163
Name: Speed Limit, dtype: float64

# Question 16
Arrange the KMeans clusters in ascending order based on the number of instances with crash severity "SUSPECTED SERIOUS INJURY":

In [290]:
# As SUSPECTED SERIOUS INJURY is mapped as 4
condition = X['Crash Severity'] == 4
X[condition].groupby('kmeans')['Crash Severity'].value_counts().sort_values()

kmeans  Crash Severity
2       4                 14
0       4                 25
1       4                 33
Name: count, dtype: int64

# Question 17
The dataset shows that Cluster 0 has the lowest number of fatal accidents. True or False

In [237]:

fatal_accidents = df[df['Crash Severity'] == 'FATAL INJURY']


fatal_accidents['cluster'] = kMeansModel.labels_


fatal_counts = fatal_accidents.groupby('cluster').size()


is_lowest = fatal_counts[0] == fatal_counts.min()


print(f"Cluster 0 has the lowest number of fatal accidents: {'True' if is_lowest else 'False'}")

Cluster 0 has the lowest number of fatal accidents: False

C:\Users\Adithi\AppData\Local\Temp\ipykernel_8196\4233202451.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fatal_accidents['cluster'] = kMeansModel.labels_

# Question 18
Generally, clustering algorithms are used to find objects with similar behaviors. Usually, an investigation like what we did in the previous few questions will help us to better understand the similarities among the instances in a cluster. A mathematical function also interprets and validates the consistency within data clusters. This function is called silhouette_score. Please read more about this function at this link: https://scikit-learn.org/stable/modules/generated/sklearn.metrics.silhouette_score.html. We can use the silhouette_score to find the optimum number of clusters in a dataset. Now run this function on the KMeans model with random_state = 0, n_init = â€˜autoâ€™ and n_clusters in the range of 2 to 9 clusters. Which number of clusters has the highest silhouette score?

In [238]:
from sklearn.metrics import silhouette_score

silhouette_scores = []


for n_clusters in range(2, 10):
    # Initialize and fit the KMeans model
    kmeans = KMeans(n_clusters=n_clusters, random_state=0, n_init='auto')
    cluster_labels = kmeans.fit_predict(X_scaled)
    
   
    score = silhouette_score(X_scaled, cluster_labels)
    silhouette_scores.append((n_clusters, score))


high_n_clusters, high_score = max(silhouette_scores, key=lambda x: x[1])


print(f"The number of clusters with the highest silhouette score is: {high_n_clusters} with a score of {high_score:.4f}")

The number of clusters with the highest silhouette score is: 3 with a score of 0.1739

# Question 19
Enter the silhouette_score of a Kmeans clustering with the number of clusters computed in the previous question. Enter the answer with two digits after the decimal point.

In [239]:
from sklearn.metrics import silhouette_score

silhouette_scores = []


for n_clusters in range(2, 10):
    # Initialize and fit the KMeans model
    kmeans = KMeans(n_clusters=n_clusters, random_state=0, n_init='auto')
    cluster_labels = kmeans.fit_predict(X_scaled)
    
   
    score = silhouette_score(X_scaled, cluster_labels)
    silhouette_scores.append((n_clusters, score))


high_n_clusters, high_score = max(silhouette_scores, key=lambda x: x[1])


print(f"The number of clusters with the highest silhouette score is: {high_n_clusters} with a score of {high_score:.2f}")

The number of clusters with the highest silhouette score is: 3 with a score of 0.17

# Question 20
Run silhouette_score function on the Agglomerative model with random_state = 0, distance_threshold= None and n_clusters in the range of 2 to the 9 clusters. Which number of clusters has the highest silhouette score?

In [240]:
silhouette_scores = []


for n_clusters in range(2, 10):
   
    agglomerative_model = AgglomerativeClustering(n_clusters=n_clusters)
    cluster_labels = agglomerative_model.fit_predict(X_scaled)
    
    
    score = silhouette_score(X_scaled, cluster_labels)
    silhouette_scores.append((n_clusters, score))


high_n_clusters, high_score = max(silhouette_scores, key=lambda x: x[1])


print(f"The number of clusters with the highest silhouette score is: {high_n_clusters} with a score of {high_score:.4f}")

The number of clusters with the highest silhouette score is: 3 with a score of 0.1577

# Question 21
Enter the silhouette_score of a Agglomerative clustering with the number of clusters computed in the previous question. Enter the answer with two digits after the decimal point.

In [241]:
silhouette_scores = []


for n_clusters in range(2, 10):
   
    agglomerative_model = AgglomerativeClustering(n_clusters=n_clusters)
    cluster_labels = agglomerative_model.fit_predict(X_scaled)
    
    
    score = silhouette_score(X_scaled, cluster_labels)
    silhouette_scores.append((n_clusters, score))


high_n_clusters, high_score = max(silhouette_scores, key=lambda x: x[1])


print(f"The number of clusters with the highest silhouette score is: {high_n_clusters} with a score of {high_score:.2f}")

The number of clusters with the highest silhouette score is: 3 with a score of 0.16

# Question 22
Upload the .ipynb file you used to answer the questions in this Lab. The file name should follow the following naming convention: Lab2_Lastname_Firstname.ipynb.